<template>
	<view>
		<view class="content" @touchstart="hideDrawer">
			<scroll-view
				class="msg-list"
				:class="{ tuchu: tuchuflag }"
				scroll-y="true"
				:scroll-with-animation="scrollAnimation"
				:scroll-top="scrollTop"
				:scroll-into-view="scrollToView"
				upper-threshold="50"
			>
				<view class="row" v-for="(row, index) in msgList" :key="index" :id="'msg' + row.msg.id">
					<!-- 系统消息 -->
					<block v-if="row.type == 'system'">
						<view class="system">
							<!-- 文字消息 -->
							<view v-if="row.msg.type == 'text'" class="text">{{ row.msg.content.text }}</view>
						</view>
					</block>
					<!-- 用户消息 -->
					<block v-if="row.type == 'user'">
						<!-- 自己发出的消息 -->
						<view class="my" v-if="row.msg.userinfo.uid == myuid">
							<!-- 左-消息 -->
							<view class="left">
								<!-- 文字消息 -->
								<view v-if="row.msg.type == 'text'" class="bubble">
									<rich-text :nodes="row.msg.content.text"></rich-text>
									<view class="rowss"></view>
								</view>

								<!-- 语言消息 -->
								<view v-if="row.msg.type == 'voice'" class="bubble voice" @tap="playVoice(row.msg)" :class="playMsgid == row.msg.id ? 'play' : ''">
									<view class="length">{{ row.msg.content.length }}</view>
									<view class="icon my-voice"></view>
									<view class="rowss"></view>
								</view>
							</view>
							<!-- 右-头像 -->
							<!-- <view class="right">
								<image :src="row.msg.userinfo.face"></image>
							</view> -->
						</view>
						<!-- 别人发出的消息 -->
						<view class="other" v-if="row.msg.userinfo.uid != myuid">
							<!-- 左-头像 -->
							<view class="left"><image :src="row.msg.userinfo.face"></image></view>
							<!-- 右-用户名称-时间-消息 -->
							<view class="right">
								<!-- <view class="username"> -->
								<!-- <view class="name">{{row.msg.userinfo.username }}</view>
									<view class="time">{{row.msg.time}}</view> -->
								<!-- 	</view> -->
								<!-- 文字消息 -->
								<view v-if="row.msg.type == 'text'" class="bubble position_bubble" :class="{ background_active: row.msg.flag_descript }">
									<div class="cotent_text">
										<rich-text :nodes="row.msg.content.text"></rich-text>
										<div class="content_text_position"></div>
										<!-- 相关问题 -->
										<view v-if="row.msg.flag_descript" class="problem_list">
											<view class="problem_list_item  title">
												<view class="item_img"><image src="../../static/img/list/title.png"></image></view>
												<view>{{ row.msg.descript.title }}</view>
											</view>
											<view
												class="problem_list_item"
												v-for="item in row.msg.descript.lists"
												@click="send_detail(row, row.msg.descript.flag, item.value.input.text)"
											>
												<view class="problem_list_item_img"><image src="../../static/img/list/dian.png"></image></view>
												<view>{{ item.label }}</view>
											</view>
										</view>
									</div>
								</view>
								<!-- 语音消息 -->
								<view v-if="row.msg.type == 'voice'" class="bubble voice" @tap="playVoice(row.msg)" :class="playMsgid == row.msg.id ? 'play' : ''">
									<view class="icon other-voice"></view>
									<view class="length">{{ row.msg.content.length }}</view>
								</view>
							</view>
						</view>
					</block>
				</view>
			</scroll-view>
		</view>
		<!-- 底部输入栏 -->
		<view class="input-box" :class="{ tuchu: tuchuflag }" @touchmove.stop.prevent="discard" 　id="textarea">
			<!-- H5下不能录音，输入栏布局改动一下 -->
			<!-- #ifndef H5 -->
			<!-- <view class="voice"><view class="icon" :class="isVoice ? 'jianpan' : 'yuyin'" @tap="switchVoice"></view></view> -->
			<!-- #endif -->
			<view class="textbox">
				<view
					class="voice-mode"
					:class="[isVoice ? '' : 'hidden', recording ? 'recording' : '']"
					@touchstart="voiceBegin"
					@touchmove.stop.prevent="voiceIng"
					@touchend="voiceEnd"
					@touchcancel="voiceCancel"
				>
					{{ voiceTis }}
				</view>
				<view class="text-mode" :class="isVoice ? 'hidden' : ''">
					<!-- #ifdef H5 -->
					<view class="box"><textarea auto-height="true"    v-model="textMsg" @focus.stop="textareaFocus" @blur.stop="viewDefault" /></view>
					<!-- #endif -->
					<!-- #ifndef H5 -->
					<view class="box"><textarea auto-height="true" v-model="textMsg" /></view>
					<!-- #endif -->
				</view>
			</view>
			<!-- #ifndef H5 -->
			<!-- 	<view class="more" @tap="showMore"><view class="icon add"></view></view> -->
			<!-- #endif -->
			<!-- #ifdef H5 -->
			<view class="send" :class="isVoice ? 'hidden' : ''" @touchstart="sendText"   @click="sendText"><view class="btn">发送</view></view>
			<!-- #endif -->
			<!-- #ifndef H5 -->
			<view class="send" :class="isVoice ? 'hidden' : ''" @click="sendText" ><view class="btn">发送</view></view>
			<!-- #endif -->
			
		</view>
		<!-- 录音UI效果 -->
		<view class="record" :class="recording ? '' : 'hidden'">
			<view class="ing" :class="willStop ? 'hidden' : ''"><view class="icon luyin2"></view></view>
			<view class="cancel" :class="willStop ? '' : 'hidden'"><view class="icon chehui"></view></view>
			<view class="tis" :class="willStop ? 'change' : ''">{{ recordTis }}</view>
		</view>
	</view>
</template>
<script>
let Base64 = require('js-base64').Base64;
import { dataFormat_no } from '@/common/utis.js';
export default {
	data() {
		return {
			//文字消息
			textMsg: '',
			//消息列表
			isHistoryLoading: false,
			scrollAnimation: false,
			scrollTop: 0,
			scrollToView: '',
			msgList: [],
			msgImgList: [],
			myuid: 0,

			//录音相关参数
			// #ifndef H5
			//H5不能录音
			RECORDER: uni.getRecorderManager(),
			// #endif
			isVoice: false,
			voiceTis: '按住 说话',
			recordTis: '手指上滑 取消发送',
			recording: false,
			willStop: false,
			initPoint: { identifier: 0, Y: 0 },
			recordTimer: null,
			recordLength: 0,

			//播放语音相关参数
			AUDIO: uni.createInnerAudioContext(),
			playMsgid: null,
			VoiceTimer: null,
			// 抽屉参数
			popupLayerClass: '',
			// more参数
			hideMore: true,
			origina_url: 'http://47.112.106.248:8111/',
			skill_id: 'f1d63e4c-8e81-441b-a990-fd08074499c9',
			Username: 'apikey',
			Password: 'KkWXmqxzu07A7jS8m-sMApEawywtwatbjBSUjxSb6Ak3',
			base64_auth_user: '',
			session_id: '',
			title: '',
			textarea_setTimeout: '', //定时器
			tuchuflag: true,
			inputIsNotInView: '' //ios适应的全局变量
		};
	},
	onLoad(option) {
		this.title = option.title;
		this.Username = option.Username;
		this.Password = option.Password;
		this.skill_id = option.skill_id;
		uni.setNavigationBarTitle({
			title: this.title
		});
		// #ifdef H5
		document.title = '';
		// #endif

		this.getMsgList();
		//语音自然播放结束
		this.AUDIO.onEnded(res => {
			this.playMsgid = null;
		});
		// #ifndef H5
		//录音开始事件
		this.RECORDER.onStart(e => {
			this.recordBegin(e);
		});
		//录音结束事件
		this.RECORDER.onStop(e => {
			this.recordEnd(e);
		});
		// #endif

		// 初始化
		this.get_session();
	},
	onShow() {
		this.scrollTop = 9999999;
		clearTimeout(this.textarea_setTimeout);
	},
	onHide() {
		clearTimeout(this.textarea_setTimeout);
	},
	methods: {
		//input取消聚焦，解决移动端input回弹问题
		viewDefault() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
			clearTimeout(this.textarea_setTimeout);
			this.tuchuflag = true;
			// #ifdef H5
			document.body.scrollTop = document.body.scrollHeight;
			// #endif
			// if (this.inputIsNotInView) {
			// 	// display和opacity + bottom 会有闪跳
			// 	$('.input-box').css({ opacity: 0, bottom: 0 });
			// 	setTimeout(() => {
			// 		$('.input-box'
			// 		).css('opacity', 1);
			// 	}, 600);
			// }
		},
		//获取焦点，解决ios底部被第三方输入法遮挡的问题
		textareaFocus() {
			this.textarea_setTimeout = setTimeout(function() {
				console.log('抬高');
				// #ifdef H5
				document.body.scrollTop = document.body.scrollHeight;
				// #endif
				//获取焦点叫要把全面屏取消
				this.tuchuflag = false;
				// element.scrollIntoViewIfNeeded();
				//下面方法解释中 true 是在可视区域的顶部，但是在我实际使用中发现他是在可视区域的底部
			}, 300);
			// this.tuchuflag = false;
		},
		// 初始获取session
		get_session() {
			let ziyuan = this.Username + ':' + this.Password;
			let base64_auth = Base64.encode(ziyuan);
			this.base64_auth_user = base64_auth;
			let url = this.origina_url + this.skill_id + '/sessions?version=' + dataFormat_no();
			console.log(url);
			uni.showLoading({
				icon: 'none',
				title: '加载中...'
			});
			uni.request({
				url: url,
				header: {
					Authorization: 'Basic ' + base64_auth
				},
				method: 'POST',
				success: res => {
					// this.session_id="22324233523dfgf"
					this.session_id = res.data.session_id;
					console.log('打印session_id' + this.session_id);
					this.origina_send();
				},
				fail: res => {
					uni.hideLoading();
					uni.showToast({
						title: '获取session失败,请返回首页重新进入',
						icon: 'none',
						duration: 3000
					});
				}
			});
		},
		send_detail(row, flag, res) {
			// console.log('打印id' + row.msg.id);
			// console.log('打印数据哈' + this.msgList[row.msg.id].msg.descript.flag);
			// console.log('打印数据2' + res);
			if (flag) {
				this.msgList[row.msg.id].msg.descript.flag = false;
				console.log(flag);
				this.textMsg = res;
				this.sendText();
			} else {
				uni.showToast({
					title: '已经回答过该问题了',
					icon: 'none'
				});
			}
		},
		// 接受消息(筛选处理)
		screenMsg(msg) {
			//从长连接处转发给这个方法，进行筛选处理
			if (msg.type == 'system') {
				// 系统消息
				switch (msg.msg.type) {
					case 'text':
						this.addSystemTextMsg(msg);
						break;
					case 'redEnvelope':
						this.addSystemRedEnvelopeMsg(msg);
						break;
				}
			} else if (msg.type == 'user') {
				// 用户消息
				switch (msg.msg.type) {
					case 'text':
						this.addTextMsg(msg);
						break;
					case 'voice':
						this.addVoiceMsg(msg);
						break;
					case 'img':
						this.addImgMsg(msg);
						break;
					case 'redEnvelope':
						this.addRedEnvelopeMsg(msg);
						break;
				}
				console.log('用户消息');
				//非自己的消息震动
				if (msg.msg.userinfo.uid != this.myuid) {
					console.log('振动');
					uni.vibrateLong();
				}
			}
			this.$nextTick(function() {
				// 滚动到底
				this.scrollToView = 'msg' + msg.msg.id;
			});
		},
		// 加载初始页面消息
		getMsgList() {
			// 消息列表
			let list = [{ type: 'system', msg: { id: 0, type: 'text', content: { text: '欢迎进入' + this.title + '咨询室' } } }];
			// 获取消息中的图片,并处理显示尺寸
			for (let i = 0; i < list.length; i++) {
				if (list[i].type == 'user' && list[i].msg.type == 'img') {
					list[i].msg.content = this.setPicSize(list[i].msg.content);
					this.msgImgList.push(list[i].msg.content.url);
				}
			}
			this.msgList = list;
			// 滚动到底部
			this.$nextTick(function() {
				//进入页面滚动到底部
				this.scrollTop = 9999;
				this.$nextTick(function() {
					this.scrollAnimation = true;
				});
			});
		},
		//处理图片尺寸，如果不处理宽高，新进入页面加载图片时候会闪
		setPicSize(content) {
			// 让图片最长边等于设置的最大长度，短边等比例缩小，图片控件真实改变，区别于aspectFit方式。
			let maxW = uni.upx2px(350); //350是定义消息图片最大宽度
			let maxH = uni.upx2px(350); //350是定义消息图片最大高度
			if (content.w > maxW || content.h > maxH) {
				let scale = content.w / content.h;
				content.w = scale > 1 ? maxW : maxH * scale;
				content.h = scale > 1 ? maxW / scale : maxH;
			}
			return content;
		},
		//更多功能(点击+弹出)
		showMore() {
			this.isVoice = false;
			this.hideEmoji = true;
			if (this.hideMore) {
				this.hideMore = false;
				this.openDrawer();
			} else {
				this.hideDrawer();
			}
		},
		// 打开抽屉
		openDrawer() {
			this.popupLayerClass = 'showLayer';
		},
		// 隐藏抽屉
		hideDrawer() {
			this.popupLayerClass = '';
			setTimeout(() => {
				this.hideMore = true;
				this.hideEmoji = true;
			}, 150);
		},

		//初始化发送空植
		origina_send() {
			let ziyuan = this.Username + ':' + this.Password;
			let base64_auth = Base64.encode(ziyuan);
			this.base64_auth_user = base64_auth;
			let message_url = 'http://47.112.106.248:8111/' + this.skill_id + '/sessions/' + this.session_id + '/message?version=' + dataFormat_no();
			console.log(message_url);
			uni.request({
				url: message_url,
				header: {
					Authorization: 'Basic ' + this.base64_auth_user
				},
				method: 'POST',
				data: {
					input: {
						text: ''
					}
				},
				success: res => {
					uni.hideLoading();
					// console.log("打印res")
					// console.log(res)
					if (res.data.code == 400 || res.data.code == 404 || res.data.code == 403) {
						uni.showToast({
							icon: 'none',
							title: 'session过期,请返回首页重新进入',
							duration: 3000
						});
					}
					//判断是否正确返回
					if (res.data.output.generic.length > 0) {
						//判断返回多少条数据，并且循环
						for (let i = 0; i < res.data.output.generic.length; i++) {
							//判断是当个还是多条循环数据，如果存在options的话，是循环
							if (!res.data.output.generic[i].options) {
								if(res.data.output.generic[i].text!="")
								{
									let lastid = this.msgList[this.msgList.length - 1].msg.id;
									lastid++;
									let msg = {
										type: 'user',
										msg: {
											id: lastid,
											type: 'text',
											userinfo: { uid: 1, username: '售后客服008', face: '/static/img/jqr1.png' },
											content: {
												text: res.data.output.generic[i].text
											},
											flag_descript: false
										}
									};
									this.screenMsg(msg);
								}
								
							}
							//判断是否是循环
							else {
								let lastid = this.msgList[this.msgList.length - 1].msg.id;
								lastid++;
								let msg = {
									type: 'user',
									msg: {
										id: lastid,
										type: 'text',
										userinfo: { uid: 1, username: '售后客服008', face: '/static/img/jqr1.png' },
										content: {
											text: res.data.output.generic[i].text
										},
										flag_descript: true,
										descript: {
											title: res.data.output.generic[i].title,
											lists: res.data.output.generic[i].options,
											flag: true
										}
									}
								};
								this.screenMsg(msg);
							}
						}
					}
				},
				fail: res => {
					uni.hideLoading();
					uni.showToast({
						icon: 'none',
						title: '出错，请联系管理员'
					});
				}
			});
		},
		// #ifdef H5
		// 发送文字消息
		sendText() {
			console.log("发送消息")
			this.hideDrawer(); //隐藏抽屉
			if (!this.textMsg) {
				return;
			}
			let content = this.textMsg;
			//去掉空格
			let content_kon = content.replace(/\ +/g, '');
			console.log('去除空格' + content_kon);
			//去掉回车换行
			let content_huan = content_kon.replace(/[\r\n]/g, '');
			console.log('去除换行' + content_huan);
			let msg = { text: content_huan };
			this.sendMsg(msg, 'text');
			this.textMsg = ''; //清空输入框
		},
		// #endif
		// #ifndef H5
		// 发送文字消息
		sendText() {
			this.hideDrawer(); //隐藏抽屉
			if (!this.textMsg) {
				return;
			}
			let content = this.textMsg;
			//去掉空格
			let content_kon = content.replace(/\ +/g, '');
			console.log('去除空格' + content_kon);
			//去掉回车换行
			let content_huan = content_kon.replace(/[\r\n]/g, '');
			console.log('去除换行' + content_huan);
			let msg = { text: content_huan };
			this.sendMsg(msg, 'text');
			this.textMsg = ''; //清空输入框
		},
		// #endif
		// 发送消息
		sendMsg(content, type) {
			//实际应用中，此处应该提交长连接，模板仅做本地处理。
			var nowDate = new Date();
			let lastid = this.msgList[this.msgList.length - 1].msg.id;
			lastid++;
			let msg = {
				type: 'user',
				msg: {
					id: lastid,
					time: nowDate.getHours() + ':' + nowDate.getMinutes(),
					type: type,
					userinfo: { uid: 0, username: '大黑哥', face: '/static/img/face.jpg' },
					content: content
				}
			};
			// 发送消息
			this.screenMsg(msg);
			let message_url = 'http://47.112.106.248:8111/' + this.skill_id + '/sessions/' + this.session_id + '/message?version=' + dataFormat_no();
			console.log(message_url);
			uni.showLoading({
				title: '加载中'
			});
			console.log(content.text);
			uni.request({
				url: message_url,
				header: {
					Authorization: 'Basic ' + this.base64_auth_user
				},
				method: 'POST',
				data: {
					input: {
						text: content.text
					}
				},
				success: res => {
					uni.hideLoading();
					console.log('打印成功res');
					console.log(res);
					if (res.data.code == 400 || res.data.code == 404 || res.data.code == 403) {
						uni.showToast({
							icon: 'none',
							title: 'session过期,请返回重新进去',
							duration: 3000
						});
					}
					//判断是否正确返回
					if (res.data.output.generic.length > 0) {
						//判断返回多少条数据，并且循环
						for (let i = 0; i < res.data.output.generic.length; i++) {
							//判断是否是最后一条数据，如果不是，代表着不是option有多选框的数据
							if (i != res.data.output.generic.length - 1) {
								if (!res.data.output.generic[i].options) {
									if (res.data.output.generic[i].text != '') {
										let lastid = this.msgList[this.msgList.length - 1].msg.id;
										lastid++;
										let msg = {
											type: 'user',
											msg: {
												id: lastid,
												type: type,
												userinfo: { uid: 1, username: '售后客服008', face: '/static/img/jqr1.png' },
												content: {
													text: res.data.output.generic[i].text
												},
												flag_descript: false
											}
										};
										this.screenMsg(msg);
									}
								}
								//判断是否是循环
								else {
									let lastid = this.msgList[this.msgList.length - 1].msg.id;
									lastid++;
									let msg = {
										type: 'user',
										msg: {
											id: lastid,
											type: type,
											userinfo: { uid: 1, username: '售后客服008', face: '/static/img/jqr1.png' },
											content: {
												text: res.data.output.generic[i].text
											},
											flag_descript: true,
											descript: {
												title: res.data.output.generic[i].title,
												lists: res.data.output.generic[i].options,
												flag: true
											}
										}
									};
									this.screenMsg(msg);
								}
							}
							//下面是最后一条数据
							else {
								if (!res.data.output.generic[i].options) {
									if (res.data.output.generic[i].text != '') {
										let lastid = this.msgList[this.msgList.length - 1].msg.id;
										lastid++;
										let msg = {
											type: 'user',
											msg: {
												id: lastid,
												type: type,
												userinfo: { uid: 1, username: '售后客服008', face: '/static/img/jqr1.png' },
												content: {
													text: res.data.output.generic[i].text
												},
												flag_descript: false
											}
										};
										this.screenMsg(msg);
									}
								}
								//判断是否是循环
								else {
									let lastid = this.msgList[this.msgList.length - 1].msg.id;
									lastid++;
									let msg = {
										type: 'user',
										msg: {
											id: lastid,
											type: type,
											userinfo: { uid: 1, username: '售后客服008', face: '/static/img/jqr1.png' },
											content: {
												text: res.data.output.generic[i].text
											},
											flag_descript: true,
											descript: {
												title: res.data.output.generic[i].title,
												lists: res.data.output.generic[i].options,
												flag: true
											}
										}
									};
									this.screenMsg(msg);
								}
							}
						}
					} else {
						uni.showToast({
							title: '对不起，该问题小智还无法回答，小智会学习的',
							icon: 'none',
							duration: 2500
						});
					}
				},
				fail: res => {
					console.log('打印失败res');
					console.log(res);
					uni.hideLoading();
					uni.showToast({
						title: '请求出错，请再发一遍，或者联系管理人员',
						icon: 'none'
					});
				},
				complete: res => {
					console.log('打印全部res');
					console.log(res);
				}
			});
		},

		// 添加文字消息到列表
		addTextMsg(msg) {
			this.msgList.push(msg);
			console.log(this.msgList);
		},
		// 添加语音消息到列表
		addVoiceMsg(msg) {
			this.msgList.push(msg);
		},
		// 添加图片消息到列表
		addImgMsg(msg) {
			msg.msg.content = this.setPicSize(msg.msg.content);
			this.msgImgList.push(msg.msg.content.url);
			this.msgList.push(msg);
		},
		addRedEnvelopeMsg(msg) {
			this.msgList.push(msg);
		},
		// 添加系统文字消息到列表
		addSystemTextMsg(msg) {
			this.msgList.push(msg);
			console.log(this.msgList);
		},

		// 打开红包

		sendSystemMsg(content, type) {
			let lastid = this.msgList[this.msgList.length - 1].msg.id;
			lastid++;
			let row = { type: 'system', msg: { id: lastid, type: type, content: content } };
			this.screenMsg(row);
		},

		// 播放语音
		playVoice(msg) {
			this.playMsgid = msg.id;
			this.AUDIO.src = msg.content.url;
			this.$nextTick(function() {
				this.AUDIO.play();
			});
		},
		// 录音开始
		voiceBegin(e) {
			if (e.touches.length > 1) {
				return;
			}
			this.initPoint.Y = e.touches[0].clientY;
			this.initPoint.identifier = e.touches[0].identifier;
			this.RECORDER.start({ format: 'mp3' }); //录音开始,
		},
		//录音开始UI效果
		recordBegin(e) {
			this.recording = true;
			this.voiceTis = '松开 结束';
			this.recordLength = 0;
			this.recordTimer = setInterval(() => {
				this.recordLength++;
			}, 1000);
		},
		// 录音被打断
		voiceCancel() {
			this.recording = false;
			this.voiceTis = '按住 说话';
			this.recordTis = '手指上滑 取消发送';
			this.willStop = true; //不发送录音
			this.RECORDER.stop(); //录音结束
		},
		// 录音中(判断是否触发上滑取消发送)
		voiceIng(e) {
			if (!this.recording) {
				return;
			}
			let touche = e.touches[0];
			//上滑一个导航栏的高度触发上滑取消发送
			if (this.initPoint.Y - touche.clientY >= uni.upx2px(100)) {
				this.willStop = true;
				this.recordTis = '松开手指 取消发送';
			} else {
				this.willStop = false;
				this.recordTis = '手指上滑 取消发送';
			}
		},
		// 结束录音
		voiceEnd(e) {
			if (!this.recording) {
				return;
			}
			this.recording = false;
			this.voiceTis = '按住 说话';
			this.recordTis = '手指上滑 取消发送';
			this.RECORDER.stop(); //录音结束
		},
		//录音结束(回调文件)
		recordEnd(e) {
			clearInterval(this.recordTimer);
			if (!this.willStop) {
				console.log('e: ' + JSON.stringify(e));
				let msg = {
					length: 0,
					url: e.tempFilePath
				};
				let min = parseInt(this.recordLength / 60);
				let sec = this.recordLength % 60;
				min = min < 10 ? '0' + min : min;
				sec = sec < 10 ? '0' + sec : sec;
				msg.length = min + ':' + sec;
				this.sendMsg(msg, 'voice');
			} else {
				console.log('取消发送录音');
			}
			this.willStop = false;
		},
		// 切换语音/文字输入
		switchVoice() {
			this.hideDrawer();
			this.isVoice = this.isVoice ? false : true;
		},
		discard() {
			return;
		}
	}
};
</script>
<style lang="scss">
@import '@/static/HM-chat/css/style.scss';
::-webkit-scrollbar {
	display: none;
	// width: 1px;
	// height: 1px;
	background-color: #aaa; /* or add it to the track */
}
.my .left .bubble {
	margin-right: 15upx;
	position: relative;
}

.rowss {
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 4px #000;
	// border-color: #f00 #0f0 #00f #000;
	border-color: #cce4fc #cce4fc #e5e5e5 #e5e5e5;
	position: absolute;
	bottom: -8px;
	right: 0px;
}

.cotent_text {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.position_bubble {
	position: relative;
}
.background_active {
	max-width: 70%;
	min-width: 70%;
}
.content_text_position {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 8px #000;
	border-color: #e5e5e5 #fff #e5e5e5 #e5e5e5;
	left: -16px;
	top: 20px;
}

.problem_list {
	width: 100%;
	background: #fff;
	line-height: 35upx;
	color: #070000;
	border: 1upx solid #ccc;
	border-radius: 20upx;
	margin-top: 20upx;
}
.problem_list .title {
	font-size: 32upx;
}
.problem_list_item {
	width: 91%;
	display: flex;
	flex-direction: row;
	// height: 60upx;
	line-height: 60upx;
	padding: 0 8upx;
	border-bottom: 1upx solid #e5e5e5;
	padding: 15upx 20upx;
	font-size: 28upx;
}
.problem_list_item .item_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50upx;
	height: 50upx;
}
.problem_list_item .item_img image {
	width: 50upx;
	height: 50upx;
	margin-right: 5upx;
}
.problem_list_item_img {
	width: 50upx;
	height: 50upx;
}
.problem_list_item_img image {
	width: 50upx;
	height: 50upx;
	margin-right: 5upx;
}
.tuchu {
	padding-bottom: 0;
	padding-bottom: constant(safe-area-inset-bottom) !important;
	padding-bottom: env(safe-area-inset-bottom) !important;
}
.problem_bound {
	// padding-bottom: 0;
	// padding-bottom: constant(safe-area-inset-bottom) !important;
	// padding-bottom: env(safe-area-inset-bottom) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.problem_bound_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.problem_bound_item {
	display: flex;
	flex-direction: row;

	background-color: #456ffa;
	color: #fff;
	font-size: 30upx;
	margin: 20upx 30upx;
	padding: 15upx 20upx;
	border-radius: 10upx;
}
</style>
