<script>
	export default {
		created() {
			// this.aaa()
			 document.addEventListener('touchstart', function(event) {
			    if (event.touches.length > 1) {
			      event.preventDefault()
			    }
			  })
			  document.addEventListener('gesturestart', function(event) {
			    event.preventDefault()
			  })
			
		},
		onLaunch: function (ev) {
			console.log('App Launch')
		},
		onShow: function () {
			console.log('App Show')
		},
		onHide: function () {
			console.log('App Hide')
		},
		
		// method:{
		// 	aaa() {
		// 	  document.addEventListener('touchstart', function(event) {
		// 	    if (event.touches.length > 1) {
		// 	      event.preventDefault()
		// 	    }
		// 	  })
		// 	  document.addEventListener('gesturestart', function(event) {
		// 	    event.preventDefault()
		// 	  })
		// 	}
		// }
		
	}
</script>

<style>
	/*每个页面公共css */
	@font-face {
		font-family: uniicons;
		font-weight: normal;
		font-style: normal;
		src: url('https://img-cdn-qiniu.dcloud.net.cn/fonts/uni.ttf') format('truetype');
	}
	
	
</style>
