<template>
	<view>
		<view class="content" @touchstart="hideDrawer">
			<scroll-view
				class="msg-list"
				:class="{ tuchu: tuchuflag }"
				scroll-y="true"
				:scroll-with-animation="scrollAnimation"
				:scroll-top="scrollTop"
				:scroll-into-view="scrollToView"
				upper-threshold="50"
			>
				<!-- <view class="header_height"> </view> -->
				<view class="row" v-for="(row, index) in msgList" :key="index" :id="'msg' + row.msg.id">
					<!-- 系统消息 -->
					<!-- 用户消息 -->
					<block v-if="row.type == 'user'">
						<!-- 自己发出的消息 -->
						<view class="my" v-if="row.msg.userinfo.uid == myuid">
							<!-- 左-消息 -->
							<view class="left">
								<!-- 文字消息 -->
								<view v-if="row.msg.type == 'text'" class="bubble">
									<rich-text :nodes="row.msg.content.text"></rich-text>
									<view class="rowss"></view>
								</view>

								<!-- 语言消息 -->
								<view v-if="row.msg.type == 'voice'" class="bubble voice" @tap="playVoice(row.msg)" :class="playMsgid == row.msg.id ? 'play' : ''">
									<view class="length">{{ row.msg.content.length }}</view>
									<view class="icon my-voice"></view>
									<view class="rowss"></view>
								</view>
							</view>
							<!-- 右-头像 -->
							<!-- <view class="right">
 								<image :src="row.msg.userinfo.face"></image>
 							</view> -->
						</view>
						<!-- 别人发出的消息 -->
						<view class="other" v-if="row.msg.userinfo.uid != myuid">
							<!-- 左-头像 -->
							<view class="left  left_image"><image :src="row.msg.userinfo.face"></image></view>
							<!-- 右-用户名称-时间-消息 -->
							<view class="right">
								<!-- <view class="username"> -->
								<!-- <view class="name">{{row.msg.userinfo.username }}</view>
 									<view class="time">{{row.msg.time}}</view> -->
								<!-- 	</view> -->
								<!-- 文字消息 -->
								<view v-if="row.msg.type == 'text'" class="bubble position_bubble" :class="{ background_active: row.msg.flag_descript }">
									<div class="cotent_text">
										<rich-text :nodes="row.msg.content.text"></rich-text>
										<div class="content_text_position"></div>
										<!-- 相关问题 -->
										<view v-if="row.msg.flag_descript" class="problem_list">
											<view class="problem_list_item  title">
												<view class="item_img"><image src="../../static/img/logo/wen.png"></image></view>
												<view>{{ row.msg.descript.title }}</view>
											</view>
											<view
												class="problem_list_item"
												v-for="item in row.msg.descript.lists"
												@click="send_detail(row, row.msg.descript.flag, item.value.input.text)"
											>
												<view class="problem_list_item_img"><image src="../../static/img/list/dian.png"></image></view>
												<view>{{ item.label }}</view>
											</view>
										</view>
									</div>
								</view>
								<!-- 语音消息 -->
								<view v-if="row.msg.type == 'voice'" class="bubble voice" @tap="playVoice(row.msg)" :class="playMsgid == row.msg.id ? 'play' : ''">
									<view class="icon other-voice"></view>
									<view class="length">{{ row.msg.content.length }}</view>
								</view>
							</view>
						</view>
					</block>
				</view>
			</scroll-view>
		</view>
		<!-- 底部输入栏 -->
		<view class="input-box" :class="{ tuchu: tuchuflag }" @touchmove.stop.prevent="discard" 　id="textarea">
			<!-- H5下不能录音，输入栏布局改动一下 -->
			<view class="voice"><view class="icon" :class="isVoice ? 'jianpan' : 'yuyin'" @tap="switchVoice"></view></view>
			<view class="textbox">
				<view
					class="voice-mode"
					:class="[isVoice ? '' : 'hidden', recording ? 'recording' : '']"
					@touchstart.capture.prevent="voiceBegin"
					@touchmove.stop.prevent="voiceIng"
					@touchend.stop.prevent="voiceEnd"
					@touchcancel.stop.prevent="voiceCancel"
				>
					{{ voiceTis }}
				</view>
				<view class="text-mode" :class="isVoice ? 'hidden' : ''">
					<!-- #ifdef H5 -->
					<view class="box">
						<textarea placeholder="请输入你想提问的问题" auto-height="true" v-model="textMsg" @focus.stop="textareaFocus" @blur.stop="viewDefault" />
					</view>
					<!-- #endif -->
					<!-- #ifndef H5 -->
					<view class="box"><textarea placeholder="请输入你想提问的问题" auto-height="true" v-model="textMsg" /></view>
					<!-- #endif -->
				</view>
			</view>
			<view class="send" :class="isVoice ? 'hidden' : ''" @touchstart="sendText" @click="sendText">
				<view class="img_send"><image src="../../static/img/logo/send.png" mode=""></image></view>
			</view>
		</view>
		<!-- 录音UI效果 -->
		<view class="record" :class="recording ? '' : 'hidden'">
			<view class="ing" :class="willStop ? 'hidden' : ''"><view class="icon luyin2"></view></view>
			<view class="cancel" :class="willStop ? '' : 'hidden'"><view class="icon chehui"></view></view>
			<view class="tis" :class="willStop ? 'change' : ''">{{ recordTis }}</view>
		</view>
		<!-- <input type="text" v-model="transform1" :value="transform1" id="result_output"/> -->
		<!-- <view :value="transform1" id="result_output"></view> -->
		<!-- <view>ha{{transform2}}</view> -->
	</view>
</template>
<script>
// let vConsole = new vconsole();
// let VConsole = require('vconsole');

// let vconsole = new VConsole();
//安装好模块后 ，h5编译可以打印出jweixin对象，分享没起作用
// #ifdef H5
let jweixin = require('jweixin-module');
let sha1 = require('sha1');
// #endif
let Base64 = require('js-base64').Base64;
import { dataFormat_no } from '@/common/utis.js';
// import IatTaste from '../../static/js/index1.js'
import Vue from 'vue';
export default {
	data() {
		return {
			//文字消息
			textMsg: '',
			//消息列表
			isHistoryLoading: false,
			scrollAnimation: false,
			scrollTop: 0,
			scrollToView: '',
			msgList: [],
			msgImgList: [],
			myuid: 0,
			//录音相关参数
			// #ifndef H5
			//H5不能录音
			// RECORDER: uni.getRecorderManager(),
			// #endif
			isVoice: false,
			voiceTis: '按住 说话',
			recordTis: '手指上滑 取消发送',
			recording: false,
			willStop: false,
			initPoint: { identifier: 0, Y: 0 },
			recordTimer: null,
			recordLength: 0,

			//播放语音相关参数
			AUDIO: uni.createInnerAudioContext(),
			playMsgid: null,
			VoiceTimer: null,
			// 抽屉参数
			popupLayerClass: '',
			// more参数
			hideMore: true,
			origina_url: 'https://mtalk.foxcall.cn/',
			skill_id: '983e3190-180f-4f15-8986-5dc190d5642b',
			Username: 'apikey',
			Password: 'KkWXmqxzu07A7jS8m-sMApEawywtwatbjBSUjxSb6Ak3',
			base64_auth_user: '',
			session_id: '',
			textarea_setTimeout: '', //定时器
			tuchuflag: true,
			inputIsNotInView: '', //ios适应的全局变量
			//科大讯飞语音识别的参数
			transform1: '',
			alltransform: '',
			newSelfIatTaste: '',
			RecordPermission: false, //网页是否已经请求了录音权限
			selfimport: '',
			IatTaste: '', //动态调用Import new的变量
			//微信端的相关参数
			IsflagWeixin: false, //判断是否是在微信端打开
			//智能翻译识别结果
			translateResult: '',
			//录音文件id
			localId: '',
			//微信app_id
			appId: 'wx11e1c76829215880',
			appsecret: '697e9360c538acc9f96b458c7ee26404',
			//微信生成签名的时间戳
			timestamp: 1571672955925,
			//微信access_token
			access_token: '',
			access_data: 0,

			//微信ticket
			ticket: '',
			ticket_data: 0,
			jsapi_ticket: '',
			//随机数noncestr
			noncestr: 'Wm3WZYTPz0wzccnW',
			//签名
			signature: '',
			//从后台获取access_token等相关参数
			// talk.foxcall.cn/apis/sasa/wechat
			hou_access_token: 'http://talk.foxcall.cn/apis/saas/wechat/access/token',
			admin_wechat: '', //后台获得的微信相关参数
			aaa_id: 'wx42ae293c2466a019',
			aaa_signature: '',
			lubegin_timeStamp: '', //点击录音时间戳
			lufinish_timeStamp: '', //录音结束时间戳
			// hou_appid:''
			//登录的相关参数
			login_url: 'http://talk.foxcall.cn/apis/saas/account/login',
			Xtoken: ''
		};
	},
	onLoad(option) {
		this.IsWeixin(),
			(this.recording = false),
			(this.willStop = false),
			// this.flagRecord=this.newSelfIatTaste.getFlag()
			// #ifdef H5
			(document.title = '');
		// #endif

		this.getMsgList();
		//语音自然播放结束
		this.AUDIO.onEnded(res => {
			this.playMsgid = null;
		});
		// #ifndef H5
		//录音开始事件
		// this.RECORDER.onStart(e => {
		// 	this.recordBegin(e);
		// });
		//录音结束事件
		// this.RECORDER.onStop(e => {
		// 	this.recordEnd(e);
		// });
		// #endif

		// 初始化
		this.get_session();

		// if(this)
	},
	mounted() {},
	onShow() {
		this.scrollTop = 9999999;
		clearTimeout(this.textarea_setTimeout);
	},
	onHide() {
		clearTimeout(this.textarea_setTimeout);
	},
	computed: {},
	watch: {},
	methods: {
		//判断是否是微信端打开
		IsWeixin() {
			let ua = window.navigator.userAgent.toLowerCase();
			if (/MicroMessenger/i.test(ua)) {
				//判断是否是企业微信
				if (ua.match(/wxwork/i) == 'wxwork') {
					this.IsflagWeixin = false;
				} else {
					this.IsflagWeixin = true;
					// this.getaccessToken();
				}
			} else {
				this.IsflagWeixin = false;
			}
		},
		//获取后端的accesstoken
		getHouDuanAccess() {
			uni.request({
				url: 'https://talk.foxcall.cn/apis/saas/wechat/access/token',
				method: 'GET',
				success: res => {
					if (res.data.code == 200) {
						this.admin_wechat = res.data.data;
						this.admin_wechat_method();
					} else {
						uni.showToast({
							icon: 'none',
							title: '从后台获取access_token相关参数失败'
						});
					}
				},
				fail: res => {
					console.log('admin获取access_token失败');
				}
			});
		},
		//微信获取access_token
		getaccessToken() {
			if (new Date().getTime() - this.access_data >= 7200) {
				this.access_data = new Date().getTime();
				uni.request({
					url: `https://heyuqing138.top/weixinApi/cgi-bin/token?grant_type=client_credential&appid=${this.appId}&secret=${this.appsecret}`,
					method: 'GET',
					success: res => {
						this.access_token = res.data.access_token;

						this.get_jsapi_ticket();
					},
					fail: res => {}
				});
			} else {
			}
		},
		get_jsapi_ticket() {
			uni.request({
				url: `https://heyuqing138.top/weixinApi/cgi-bin/ticket/getticket?access_token=${this.access_token}&type=jsapi`,
				method: 'GET',
				success: res => {
					if (res.data.errmsg == 'ok') {
						this.ticket = res.data.ticket;
						// console.log('ticket等于' + this.ticket);
						// console.log('当前地址' + location.href.split('#')[0]);
						// this.signature=sha1("jsapi_ticket="+this.ticket+"&noncestr="+this.noncestr+"&timestamp="+this.timestamp+"&url=http://2o5596877k.wicp.vip")
						this.signature = sha1(
							'jsapi_ticket=' + this.ticket + '&noncestr=' + this.noncestr + '&timestamp=' + this.timestamp + '&url=' + location.href.split('#')[0]
						);
						// console.log('jsapi_ticket=' + this.ticket + '&noncestr=' + this.noncestr + '&timestamp=' + this.timestamp + '&url=' + location.href.split('#')[0]);
						// console.log(this.signature);

						// #ifdef H5
						jweixin.config({
							debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
							appId: this.appId, // 必填，公众号的唯一标识
							timestamp: this.timestamp, // 必填，生成签名的时间戳
							nonceStr: this.noncestr, // 必填，生成签名的随机串
							signature: this.signature, // 必填，签名
							jsApiList: [
								'checkJsApi',
								'chooseImage',
								'startRecord',
								'stopRecord',
								'onVoiceRecordEnd',
								'playVoice',
								'pauseVoice',
								'stopVoice',
								'onVoicePlayEnd',
								'uploadVoice',
								'downloadVoice',
								'translateVoice'
							] // 必填，需要使用的JS接口列表
							// 接口 检测接口，选择图片接口，开始录音接口 停止录音接口  监听录音接口，播放语音接口 暂停播放接口 停止播放接口  监听播放接口 上传语音接口 下载语音接口 识别音频并返回识别结果接口
						});

						jweixin.error(function(res) {
							// console.log('jweixin.config配置出错');
							alert('出错了：' + res.errMsg); // 这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
						});
						jweixin.ready(() => {
							// console.log('进去了dd,检测微信公众号jsdk成功的接口');
							jweixin.checkJsApi({
								jsApiList: [
									'startRecord',
									'stopRecord',
									'translateVoice',
									'onVoiceRecordEnd',
									'playVoice',
									'pauseVoice',
									'stopVoice',
									'onVoicePlayEnd',
									'uploadVoice',
									'downloadVoice'
								], // 需要检测的JS接口列表，所有JS接口列表见附录2,
								success: function(res) {
									// console.log('支持的接口');
									// console.log(res)
									// 以键值对的形式返回，可用的api值true，不可用为false
									// 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
								},
								fail: function(res) {
									// console.log('失败');
									// console.log(res);
								},
								complete: function(res) {
									// console.log('成功失败都返回');
									// console.log(res);
								}
							});
						});
						// #endif
					}

					// console.log(res);
				},
				fail: () => {
					// console.log(res);
				}
			});
		},
		//微信功能JSSDK
		//微信处理
		admin_wechat_method() {
			this.aaa_signature = sha1(
				'jsapi_ticket=' + this.admin_wechat.wechatTicket + '&noncestr=' + this.noncestr + '&timestamp=' + this.timestamp + '&url=' + location.href.split('#')[0]
			);

			// #ifdef H5
			jweixin.config({
				debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: this.aaa_id, // 必填，公众号的唯一标识
				timestamp: this.timestamp, // 必填，生成签名的时间戳
				nonceStr: this.noncestr, // 必填，生成签名的随机串
				signature: this.aaa_signature, // 必填，签名
				jsApiList: [
					'checkJsApi',
					'startRecord',
					'stopRecord',
					'onVoiceRecordEnd',
					'playVoice',
					'onVoicePlayEnd',
					'stopVoice',
					'pauseVoice',
					'uploadVoice',
					'downloadVoice',
					'translateVoice'
				] // 必填，需要使用的JS接口列表
				// 接口 检测接口，选择图片接口，开始录音接口 停止录音接口  监听录音接口，播放语音接口 暂停播放接口 停止播放接口  监听播放接口 上传语音接口 下载语音接口 识别音频并返回识别结果接口
				//监听录音播放完毕接口
			});

			jweixin.ready(() => {
				// console.log('进去了dd,检测微信公众号jsdk成功的接口');

				jweixin.checkJsApi({
					jsApiList: [
						'startRecord',
						'stopRecord',
						'translateVoice',
						'onVoiceRecordEnd',
						'playVoice',
						'pauseVoice',
						'stopVoice',
						'onVoicePlayEnd',
						'uploadVoice',
						'downloadVoice'
					], // 需要检测的JS接口列表，所有JS接口列表见附录2,
					success: function(res) {
						// console.log('支持的接口');
						// console.log(res)
						// 以键值对的形式返回，可用的api值true，不可用为false
						// 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
					},
					fail: function(res) {
						// console.log('失败');
						// console.log(res);
					},
					complete: function(res) {
						// console.log('成功失败都返回');
						// console.log(res);
					}
				});
				//监听录音播放完毕接口
				jweixin.onVoicePlayEnd({
					success: res => {
						this.playMsgid = null;
						alert('录音（' + res.localId + '）播放结束');
					},
					complete: res => {
						this.playMsgid = null;
						alert('录音（' + res.localId + '）播放结束');
					}
				});
			});
			// #endif
		},

		//input取消聚焦，解决移动端input回弹问题
		viewDefault() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
			clearTimeout(this.textarea_setTimeout);
			this.tuchuflag = true;
			// #ifdef H5
			document.body.scrollTop = document.body.scrollHeight;
			// #endif
		},
		//获取焦点，解决ios底部被第三方输入法遮挡的问题
		textareaFocus() {
			this.textarea_setTimeout = setTimeout(function() {
				// console.log('抬高');
				// #ifdef H5
				document.body.scrollTop = document.body.scrollHeight;
				// #endif
				//获取焦点叫要把全面屏取消
				this.tuchuflag = false;
				// element.scrollIntoViewIfNeeded();
				//下面方法解释中 true 是在可视区域的顶部，但是在我实际使用中发现他是在可视区域的底部
			}, 300);
			// this.tuchuflag = false;
		},
		// 初始获取session
		get_session() {
			let ziyuan = this.Username + ':' + this.Password;
			let base64_auth = Base64.encode(ziyuan);
			this.base64_auth_user = base64_auth;
			let url = this.origina_url + this.skill_id + '/sessions?version=' + dataFormat_no();
			// console.log(url);
			// uni.showLoading({
			// 	icon: 'none',
			// 	title: '加载中...'
			// });
			uni.request({
				url: url,
				header: {
					Authorization: 'Basic ' + base64_auth
				},
				method: 'POST',
				success: res => {
					// uni.hideLoading();
					// this.session_id="22324233523dfgf"
					this.session_id = res.data.session_id;
					// console.log('打印session_id' + this.session_id);
					// this.origina_send();
				},
				fail: res => {
					// uni.hideLoading();
					uni.showToast({
						title: '获取session失败,请返刷新浏览器或者重新进入',
						icon: 'none',
						duration: 3000
					});
				}
			});
		},
		send_detail(row, flag, res) {
			console.log(row, flag, res)
			//判断是否已经回答过该问题，问题不能回答两次
			if (flag) {
				
				this.msgList[row.msg.id].msg.descript.flag = false;
				// console.log(flag);
				this.textMsg = res;
				this.sendText();
			} else {
				uni.showToast({
					title: '已经回答过该问题了',
					icon: 'none'
				});
			}
		},
		// 接受消息(筛选处理)
		screenMsg(msg) {
			//从长连接处转发给这个方法，进行筛选处理
			if (msg.type == 'system') {
				// 系统消息
				switch (msg.msg.type) {
					case 'text':
						this.addSystemTextMsg(msg);
						break;
					case 'redEnvelope':
						this.addSystemRedEnvelopeMsg(msg);
						break;
				}
			} else if (msg.type == 'user') {
				// 用户消息
				switch (msg.msg.type) {
					case 'text':
						this.addTextMsg(msg);
						break;
					case 'voice':
						this.addVoiceMsg(msg);
						break;
					case 'img':
						this.addImgMsg(msg);
						break;
					case 'redEnvelope':
						this.addRedEnvelopeMsg(msg);
						break;
				}
				// console.log('用户消息');
				//非自己的消息震动
				if (msg.msg.userinfo.uid != this.myuid) {
					// console.log('振动');
					// uni.vibrateLong();
				}
			}
			this.$nextTick(function() {
				// 滚动到底
				this.scrollToView = 'msg' + msg.msg.id;
			});
		},
		// 加载初始页面消息
		getMsgList() {
			// 消息列表
			let list = [
				{ type:'user',msg:{id:0,type:'text',content:{text:'您好, 我是高新区三防机器人, 有什么可以帮到您呢?'},flag_descript:false,userinfo:{face: "/static/img/logo/kefu.png",uid: 1,username: "售后客服008"}}},
				{ type:'user',msg:{id:1,type:'text',content:{text:''},descript:{flag:true,lists:[{label:"台风来了怎么办",value:{input:{text:"台风来了怎么办"}} },{label:"三级台风, 我应该怎么办?",value:{input:{text:"三级台风, 我应该怎么办?"}} },{label:"唐家海事处遇到台风的时候应该怎么办?",value:{input:{text:"唐家海事处遇到台风的时候应该怎么办?"}} },{label:"遇到四级台风, 唐家海事处的我们应该怎么办?",value:{input:{text:"遇到四级台风, 唐家海事处的我们应该怎么办?"}} }, ],title:'您可以这么问'} ,flag_descript:true,userinfo:{face: "/static/img/logo/kefu.png",uid: 1,username: "售后客服008"}}},
			];
			// 获取消息中的图片,并处理显示尺寸
			for (let i = 0; i < list.length; i++) {
				if (list[i].type == 'user' && list[i].msg.type == 'img') {
					list[i].msg.content = this.setPicSize(list[i].msg.content);
					this.msgImgList.push(list[i].msg.content.url);
				}
			}
			this.msgList = list;
			// 滚动到底部
			this.$nextTick(function() {
				//进入页面滚动到底部
				this.scrollTop = 9999;
				this.$nextTick(function() {
					this.scrollAnimation = true;
				});
			});
		},

		//更多功能(点击+弹出)
		showMore() {
			this.isVoice = false;
			this.hideEmoji = true;
			if (this.hideMore) {
				this.hideMore = false;
				this.openDrawer();
			} else {
				this.hideDrawer();
			}
		},
		// 打开抽屉
		openDrawer() {
			this.popupLayerClass = 'showLayer';
		},
		// 隐藏抽屉
		hideDrawer() {
			this.popupLayerClass = '';
			setTimeout(() => {
				this.hideMore = true;
				this.hideEmoji = true;
			}, 150);
		},
		//睡眠功能
		sleep(numberMillis) {
			var now = new Date();
			var exitTime = now.getTime() + numberMillis;
			while (true) {
				now = new Date();
				if (now.getTime() > exitTime) return;
			}
		},
		//初始化发送空植
		origina_send() {
			let ziyuan = this.Username + ':' + this.Password;
			let base64_auth = Base64.encode(ziyuan);
			this.base64_auth_user = base64_auth;
			let message_url = 'https://mtalk.foxcall.cn/' + this.skill_id + '/sessions/' + this.session_id + '/message?version=' + dataFormat_no();
			// console.log(message_url);
			uni.request({
				url: message_url,
				header: {
					Authorization: 'Basic ' + this.base64_auth_user
				},
				method: 'POST',
				data: {
					input: {
						text: ''
					}
				},
				success: res => {
					uni.hideLoading();
					// console.log("打印res")
					// console.log(res)
					if (res.data.code == 400 || res.data.code == 404 || res.data.code == 403) {
						uni.showToast({
							icon: 'none',
							title: 'session过期,请重新刷新浏览器',
							duration: 3000
						});
					}
					//判断是否正确返回
					if (res.data.output.generic.length > 0) {
						//判断返回多少条数据，并且循环
						for (let i = 0; i < res.data.output.generic.length; i++) {
							//判断是当个还是多条循环数据，如果存在options的话，是循环
							if (!res.data.output.generic[i].options) {
								console.log(res.data.output.generic[i].response_type);
								if (res.data.output.generic[i].response_type == 'pause') {
									console.log('睡眠10秒');
									this.sleep(10000);
								} else {
									if (res.data.output.generic[i].text != '') {
										let lastid = this.msgList[this.msgList.length - 1].msg.id;
										lastid++;
										let msg = {
											type: 'user',
											msg: {
												id: lastid,
												type: 'text',
												userinfo: { uid: 1, username: '售后客服008', face: '/static/img/logo/kefu.png' },
												content: {
													text: res.data.output.generic[i].text
												},
												flag_descript: false
											}
										};
										this.screenMsg(msg);
									}
								}
							}
							//判断是否是循环
							else {
								let lastid = this.msgList[this.msgList.length - 1].msg.id;
								lastid++;
								let msg = {
									type: 'user',
									msg: {
										id: lastid,
										type: 'text',
										userinfo: { uid: 1, username: '售后客服008', face: '/static/img/logo/kefu.png' },
										content: {
											text: res.data.output.generic[i].text
										},
										flag_descript: true,
										descript: {
											title: res.data.output.generic[i].title,
											lists: res.data.output.generic[i].options,
											flag: true
										}
									}
								};
								this.screenMsg(msg);
							}
						}
					}
				},
				fail: res => {
					uni.hideLoading();
					uni.showToast({
						icon: 'none',
						title: '出错，请联系管理员'
					});
				}
			});
		},
		// #ifdef H5
		// 发送文字消息
		sendText() {
			// console.log('发送消息');
			this.hideDrawer(); //隐藏抽屉
			if (!this.textMsg) {
				return;
			}
			let content = this.textMsg;
			//去掉空格
			let content_kon = content.replace(/\ +/g, '');
			// console.log('去除空格' + content_kon);
			//去掉回车换行
			let content_huan = content_kon.replace(/[\r\n]/g, '');
			// console.log('去除换行' + content_huan);
			let msg = { text: content_huan };
			this.sendMsg(msg, 'text');
			this.textMsg = ''; //清空输入框
		},
		// #endif
		// #ifndef H5
		// 发送文字消息
		// sendText() {
		// 	this.hideDrawer(); //隐藏抽屉
		// 	if (!this.textMsg) {
		// 		return;
		// 	}
		// 	let content = this.textMsg;
		// 	//去掉空格
		// 	let content_kon = content.replace(/\ +/g, '');
		// 	console.log('去除空格' + content_kon);
		// 	//去掉回车换行
		// 	let content_huan = content_kon.replace(/[\r\n]/g, '');
		// 	console.log('去除换行' + content_huan);
		// 	let msg = { text: content_huan };
		// 	this.sendMsg(msg, 'text');
		// 	this.textMsg = ''; //清空输入框
		// },
		// #endif
		// 发送消息
		sendMsg(content, type) {
			//实际应用中，此处应该提交长连接，模板仅做本地处理。
			var nowDate = new Date();
			let lastid = this.msgList[this.msgList.length - 1].msg.id;
			lastid++;
			let msg = {
				type: 'user',
				msg: {
					id: lastid,
					time: nowDate.getHours() + ':' + nowDate.getMinutes(),
					type: type,
					userinfo: { uid: 0, username: '大黑哥', face: '/static/img/face.jpg' },
					content: content
				}
			};
			// 发送消息
			this.screenMsg(msg);
			let message_url = 'https://mtalk.foxcall.cn/' + this.skill_id + '/sessions/' + this.session_id + '/message?version=' + dataFormat_no();
			// console.log(message_url);
			uni.showLoading({
				icon: 'none',
				title: '加载中...'
			});
			// console.log(content.text);
			uni.request({
				url: message_url,
				header: {
					Authorization: 'Basic ' + this.base64_auth_user
				},
				method: 'POST',
				data: {
					input: {
						text: content.text
					}
				},
				success: res => {
					uni.hideLoading();
					// console.log('打印成功res');
					// console.log(res);
					if (res.data.code == 400 || res.data.code == 404 || res.data.code == 403) {
						uni.showToast({
							icon: 'none',
							title: 'session过期,请返回重新进去',
							duration: 3000
						});
					}
					//判断是否正确返回
					if (res.data.output.generic.length > 0) {
						//判断返回多少条数据，并且循环

						for (let i = 0; i < res.data.output.generic.length; i++) {
							// debugger
							// console.log(`循环第几次1` + i);

							//判断是当个还是多条循环数据，如果存在options的话，是循环
							if (!res.data.output.generic[i].options) {
								// console.log(`没有可选项`);
								// debugger;
								if (res.data.output.generic[i].response_type == 'pause') {
									// console.log('睡眠10秒');
									// this.sleep(10000);
								} else {
									if (res.data.output.generic[i].text != '') {
										let lastid = this.msgList[this.msgList.length - 1].msg.id;
										lastid++;
										let msg = {
											type: 'user',
											msg: {
												id: lastid,
												type: 'text',
												userinfo: { uid: 1, username: '售后客服008', face: '/static/img/logo/kefu.png' },
												content: {
													text: res.data.output.generic[i].text
												},
												flag_descript: false
											}
										};

										this.screenMsg(msg);
									}
								}
							}
							//判断是否是循环
							else {
								let lastid = this.msgList[this.msgList.length - 1].msg.id;
								lastid++;
								let msg = {
									type: 'user',
									msg: {
										id: lastid,
										type: 'text',
										userinfo: { uid: 1, username: '售后客服008', face: '/static/img/logo/kefu.png' },
										content: {
											text: res.data.output.generic[i].text
										},
										flag_descript: true,
										descript: {
											title: res.data.output.generic[i].title,
											lists: res.data.output.generic[i].options,
											flag: true
										}
									}
								};
								this.screenMsg(msg);
							}
						}
					} else {
						uni.showToast({
							title: '对不起，该问题小智还无法回答，小智会学习的',
							icon: 'none',
							duration: 2500
						});
					}
				},
				fail: res => {
					// console.log('打印失败res');
					// console.log(res);
					uni.hideLoading();
					uni.showToast({
						title: '请求出错，请再发一遍，或者联系管理人员',
						icon: 'none'
					});
				},
				complete: res => {
					// console.log('打印全部res');
					// console.log(res);
				}
			});
		},

		// 添加文字消息到列表
		addTextMsg(msg) {
			Vue.set(this.msgList, this.msgList.length, msg);
			// this.msgList.push(msg);
			// console.log('打印');
			// console.log(this.msgList);
		},
		// 添加语音消息到列表
		addVoiceMsg(msg) {
			this.msgList.push(msg);
		},
		// 添加图片消息到列表
		addImgMsg(msg) {
			msg.msg.content = this.setPicSize(msg.msg.content);
			this.msgImgList.push(msg.msg.content.url);
			this.msgList.push(msg);
		},
		addRedEnvelopeMsg(msg) {
			this.msgList.push(msg);
		},
		// 添加系统文字消息到列表
		addSystemTextMsg(msg) {
			this.msgList.push(msg);
			// console.log(this.msgList);
		},
		// 播放语音
		playVoice(msg) {
			this.playMsgid = msg.id;
			this.AUDIO.src = msg.content.url;
			this.$nextTick(function() {
				this.AUDIO.play();
			});
		},
		// 录音开始
		voiceBegin(e) {
			if (e.touches.length > 1) {
				return;
			}
			this.initPoint.Y = e.touches[0].clientY;
			this.initPoint.identifier = e.touches[0].identifier;

			// 非H5端录音开始
			// #ifndef H5
			// this.RECORDER.start({ format: 'mp3' }); //录音开始,
			// #endif
			//H5端的录音
			// #ifdef H5
			//非微信端
			if (!this.IsflagWeixin) {
				this.recording = true;
				let u = navigator.userAgent;
				let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
				let isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
				if (isiOS) {
					this.newSelfIatTaste = new this.IatTaste();
					this.newSelfIatTaste.selfStart();
					this.recordBegin(e);
				} else {
					this.newSelfIatTaste.selfStart();
					this.recordBegin(e);
				}
			} else {
				//微信端录音功能
				this.lubegin_timeStamp = e.timeStamp;
				jweixin.startRecord();
				this.recordBegin(e);
				this.recording = true;
			}
			// #endif
		},
		//录音开始UI效果
		recordBegin(e) {
			this.recording = true;
			this.voiceTis = '松开 结束';
			this.recordLength = 0;
			this.recordTimer = setInterval(() => {
				this.recordLength++;
			}, 1000);
		},
		// 录音被打断
		voiceCancel() {
			this.recording = false;
			this.voiceTis = '按住 说话';
			this.recordTis = '手指上滑 取消发送';
			this.willStop = true; //不发送录音
			// 非H5端录音结束
			// #ifndef H5
			// this.RECORDER.stop(); //录音结束
			// #endif

			// H5端识别打断
			// #ifdef H5
			if (!this.IsflagWeixin) {
				jweixin.stopRecord({
					success: function(res) {
						let localId = res.localId;
					}
				});
			} else {
				this.newSelfIatTaste.selfStop();
			}
			//

			// this.voiceEnd()
			// #endif
		},
		// 录音中(判断是否触发上滑取消发送)
		voiceIng(e) {
			if (!this.recording) {
				return;
			}
			let touche = e.touches[0];
			//上滑一个导航栏的高度触发上滑取消发送
			if (this.initPoint.Y - touche.clientY >= uni.upx2px(100)) {
				this.willStop = true;
				this.recordTis = '松开手指 取消发送';
			} else {
				this.willStop = false;
				this.recordTis = '手指上滑 取消发送';
			}
		},
		// 结束录音
		voiceEnd(e) {
			if (!this.recording) {
				return;
			}
			this.recording = false;
			this.voiceTis = '按住 说话';
			this.recordTis = '手指上滑 取消发送';
			// 非H5端录音结束
			// #ifndef H5
			// this.RECORDER.stop(); //录音结束

			// #endif

			//H5端结束录音
			// #ifdef H5
			//非微信端
			if (!this.IsflagWeixin) {
				if (!this.willStop) {
					uni.showLoading({
						icon: 'none',
						title: '努力识别中...'
					});
					setTimeout(res => {
						// uni.hideLoading()
						this.newSelfIatTaste.selfStop();
						setTimeout(res => {
							if (this.newSelfIatTaste.getData() == '' || !this.newSelfIatTaste) {
								setTimeout(res => {
									uni.hideLoading();
									this.alltransform = this.newSelfIatTaste.getData();
									// console.log('打印哈');
									// console.log(this.alltransform);
									setTimeout(res => {
										this.recordEnd(e);
									}, 100);
								}, 1500);
							} else {
								uni.hideLoading();
								this.alltransform = this.newSelfIatTaste.getData();
								// console.log('打印哈');
								// console.log(this.alltransform);
								if (!this.newSelfIatTaste.getData() || this.newSelfIatTaste.getData() == '') {
									let selfIatTaste = new this.IatTaste();
								}
								setTimeout(res => {
									this.recordEnd(e);
								}, 100);
							}
						}, 800);
					}, 1200);
				} else {
					this.willStop = false;
				}
			}
			//微信端
			else {
				if (!this.willStop) {
					// console.log('微信端录音结束');
					jweixin.stopRecord({
						success: res => {
							let localId = res.localId;
							this.localId = res.localId;

							// console.log('录音文件');
							// console.log(e);
							this.lufinish_timeStamp = e.timeStamp;
							// console.log('录音结束时间戳');
							// console.log(this.lufinish_timeStamp);
							if (this.lufinish_timeStamp - this.lubegin_timeStamp <= 1200) {
								uni.showToast({
									icon: 'none',
									title: '录音时间不能少于1秒'
								});
							} else if (this.localId.length > 0) {
								// uni.showLoading({
								// 	icon: 'none',
								// 	title: '努力识别语音中'
								// });
								jweixin.translateVoice({
									localId: this.localId, // 需要识别的音频的本地Id，由录音相关接口获得
									isShowProgressTips: 1, // 默认为1，显示进度提示
									success: res => {
										// uni.hideLoading();
										this.translateResult = res.translateResult;
										// console.log('翻译结果如下');
										// console.log(this.translateResult);

										this.recordEnd(e);
									},
									fail: res => {
										this.willStop = false;
										this.recording = false;
										uni.showToast({
											icon: 'none',
											title: '识别失败',
											duration: 2000
										});
										// this.translateResult = '提示:语音识别失败';
										// this.recordEnd(e);
									}
								});
							} else {
								uni.showToast({
									icon: 'none',
									title: '录音失败'
								});
							}
						}
						// fail:function(res){
						// 	console.log("录音失败")
						// 	console.log(res)
						// }
					});
				}
			}

			// #endif
		},
		//录音结束(回调文件)
		recordEnd(e) {
			// #ifndef H5
			// clearInterval(this.recordTimer);
			// if (!this.willStop) {
			// 	console.log('e: ' + JSON.stringify(e));
			// 	let msg = {
			// 		length: 0,
			// 		url: e.tempFilePath
			// 	};
			// 	let min = parseInt(this.recordLength / 60);
			// 	let sec = this.recordLength % 60;
			// 	min = min < 10 ? '0' + min : min;
			// 	sec = sec < 10 ? '0' + sec : sec;
			// 	msg.length = min + ':' + sec;
			// 	this.sendMsg(msg, 'text');
			// } else {
			// 	console.log('取消发送录音');
			// }
			// this.willStop = false;
			// #endif
			//H5端
			// #ifdef H5
			//非微信端
			if (!this.IsflagWeixin) {
				clearInterval(this.recordTimer);
				if (!this.willStop) {
					// console.log('H5端结束录音调用文件');
					if (this.alltransform == '' || !this.alltransform) {
						uni.showToast({
							title: '语音识别失败，请重试',
							icon: 'none',
							duration: 2000
						});
						let selfIatTaste = new this.IatTaste();
						if (navigator.mediaDevices.getUserMedia) {
							const constraints = { audio: true };
							navigator.mediaDevices
								.getUserMedia(constraints)
								.then(function(stream) {
									/* 使用这个stream stream */
								})
								.catch(function(err) {
									/* 处理error */
								});
						}
					} else {
						let content = this.alltransform;
						//去掉空格
						let content_kon = content.replace(/\ +/g, '');
						// console.log('去除空格' + content_kon);
						// 去掉回车换行
						let content_huan = content.replace(/[\r\n]/g, '');
						// console.log('去除换行' + content_huan);
						let msg = { text: content_huan };
						this.sendMsg(msg, 'text');
					}
				} else {
					// console.log('取消发送录音');
				}
				this.willStop = false;
			} else {
				clearInterval(this.recordTimer);
				if (!this.willStop) {
					let content = this.translateResult;
					//去掉空格
					let content_kon = content.replace(/\ +/g, '');
					// console.log('去除空格' + content_kon);
					//去掉回车换行
					let content_huan = content_kon.replace(/[\r\n]/g, '');
					// console.log('去除换行' + content_huan);
					let msg = { text: content_huan };
					this.sendMsg(msg, 'text');
				} else {
					// console.log('取消发送录音');
				}
				this.willStop = false;
			}

			// #endif
		},
		// 切换语音/文字输入
		switchVoice() {
			if (this.IsflagWeixin) {
				// console.log('执行后端获取微信接口');
				this.getHouDuanAccess();
			}
			this.hideDrawer();
			this.isVoice = this.isVoice ? false : true;
			if (!this.IsflagWeixin) {
				import('../../static/js/index1.js')
					.then(Component => {
						this.IatTaste = Component.default;

						// uni.showToast({
						// 	icon: 'none',
						// 	title: '执行成功'
						// });
					})
					.catch
					// uni.showToast({
					// 	icon: 'none',
					// 	title: '执行失败'
					// })
					();
				setTimeout(res => {
					let selfIatTaste = new this.IatTaste();
					this.newSelfIatTaste = selfIatTaste;
				}, 1000);
				if (this.isVoice && !this.RecordPermission) {
					//最新标准API
					if (navigator.mediaDevices.getUserMedia) {
						const constraints = { audio: true };
						navigator.mediaDevices
							.getUserMedia(constraints)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = true;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: '抛出异常'
								})
							);
					} else if (navigator.webkitGetUserMedia) {
						//webkit内核浏览器
						navigator
							.webkitGetUserMedia(constrains)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = false;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: 'webkit内核浏览器抛出异常'
								})
							);
					} else if (navigator.mozGetUserMedia) {
						//Firefox浏览器
						navagator
							.mozGetUserMedia(constrains)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = false;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: '抛出异常'
								})
							);
					} else if (navigator.getUserMedia) {
						//旧版API
						navigator
							.getUserMedia(constrains)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = false;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: '抛出异常'
								})
							);
					} else {
						uni.showToast({
							icon: 'none',
							title: '你的浏览器不支持录音功能',
							duration: 1000
						});
						this.isVoice = false;
					}
				}
			}
		},
		discard() {
			return;
		}
	}
};
</script>
<style lang="scss">
@import '@/static/HM-chat/css/style1.scss';
* {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
input {
	-webkit-touch-callout: text !important;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}
textarea {
	-webkit-touch-callout: auto !important;
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}
::-webkit-scrollbar {
	display: none;
	// width: 1px;
	// height: 1px;
	background-color: #aaa; /* or add it to the track */
}
.header_title {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f9f9f9;
	height: 40px;
	font-weight: 600;
}
.status_bar {
	// height: var(--status-bar-height);
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px 10px;
	margin-bottom: 10px;
	font-size: 16px;

	position: fixed;
}
.header_height {
	height: 15px;
}

.my .left .bubble {
	margin-right: 30upx;
	position: relative;
	border-radius: 30upx 30upx 0 30upx !important;
}

.left_image image {
	// background-color: #1296db;
	background-color: #859aed;
	border-radius: 100% !important;
}

.rowss {
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 3px #000;
	// border-color: #f00 #0f0 #00f #000;
	border-color: #ffffff #ffffff #859aed #859aed;
	// border-color: #859aed #859aed #e5e5e5 #e5e5e5;
	position: absolute;
	bottom: 0px;
	right: -6px;
}

.cotent_text {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.position_bubble {
	position: relative;
}
.background_active {
	max-width: 70%;
	min-width: 70%;
}
.content_text_position {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 4px #000;
	border-color: #eeeff4 #eeeff4 #ffffff #ffffff;
	// border-color: #FFFFFF #eeeff4 #FFFFFF #FFFFFF;
	left: -8px;
	top: 0;
}

.problem_list {
	width: 100%;
	background: #eeeff4;
	line-height: 35upx;
	// color: #070000;
	// color: #c9c9c9;
	border: 1upx solid #ccc;
	border-radius: 20upx;
	margin-top: 20upx;
}
.problem_list .title {
	font-size: 35upx;
	display: flex;
	align-items: center;
}
.problem_list_item {
	width: 91%;
	display: flex;
	flex-direction: row;
	// height: 60upx;
	line-height: 1.8;
	padding: 0 8upx;
	border-bottom: 1upx solid #e5e5e5;
	padding: 15upx 20upx;
	font-size: 26upx;

	// justify-content: center;
}
.problem_list_item .item_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44upx;
	height: 44upx;
	margin-right: 8upx;
}
.problem_list_item .item_img_title {
	height: 44upx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.problem_list_item .item_img image {
	width: 40upx;
	height: 40upx;
}
.problem_list_item_img {
	width: 43upx;
	height: 43upx;
	margin-right: 8upx;
}
.problem_list_item_img image {
	width: 43upx;
	height: 43upx;
}
.tuchu {
	padding-bottom: 0;
	padding-bottom: constant(safe-area-inset-bottom) !important;
	padding-bottom: env(safe-area-inset-bottom) !important;
}
.problem_bound {
	// padding-bottom: 0;
	// padding-bottom: constant(safe-area-inset-bottom) !important;
	// padding-bottom: env(safe-area-inset-bottom) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.problem_bound_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.problem_bound_item {
	display: flex;
	flex-direction: row;

	background-color: #456ffa;
	color: #fff;
	font-size: 30upx;
	margin: 20upx 30upx;
	padding: 15upx 20upx;
	border-radius: 10upx;
}

//修改placeholder的样式
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
	::-moz-placeholder {
		/* Firefox 19+ */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
	:-ms-input-placeholder {
		/* IE 10+ */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
	:-moz-placeholder {
		/* Firefox 18- */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
}
::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 12upx;
	// color:#E5E5E5;
	color: #cccccc;
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 12upx;
	// color:#E5E5E5;
	color: #cccccc;
}
:-moz-placeholder {
	/* Firefox 18- */
	font-size: 12upx;
	// color:#E5E5E5;
	color: #cccccc;
}

.input-box {
	z-index: 999 !important;
	padding-bottom: 0;  
	padding-bottom: constant(safe-area-inset-bottom);  
	padding-bottom: env(safe-area-inset-bottom);  
}
.voice-mode {
	z-index: 1000 !important;
}
// 发送
.send {
	z-index: 999;
	//H5发送按钮左边距
	/* #ifdef H5 */
	// margin-left: 20upx;
	/* #endif */
	// margin-left: 10upx;
	margin: 0 5px 0 5px;
	flex-shrink: 0;
	width: 60upx !important;
	height: 100upx !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_send {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_send image {
	width: 40upx;
	height: 40upx;
}
</style>
