<template>
	<view class="ljfl">
		<view class="rounded_div">
			<view class="rounded"></view>
		</view>
		<view class="content" @touchstart="hideDrawer">
			<scroll-view class="msg-list" :class="{ tuchu: tuchuflag, problem: choose}" scroll-y="true" :scroll-with-animation="scrollAnimation"
			 :scroll-top="scrollTop" :scroll-into-view="scrollToView" upper-threshold="50">
				<!-- <view class="header_height"> </view> -->
				<view class="row" v-for="(row, index) in msgList" :key="index" :id="'msg' + row.msg.id">
					<!-- 系统消息 -->
					<!-- 用户消息 -->
					<block v-if="row.type == 'user'">
						<!-- 自己发出的消息 -->
						<view class="my" v-if="!row.msg.userinfo.uid">
							<!-- 左-消息 -->
							<view class="left">
								<!-- 文字消息 -->
								<view v-if="row.msg.type == 'text'" class="bubble">
									<rich-text :nodes="row.msg.content.text"></rich-text>
									<view class="text_time">{{row.msg.content.time}}</view>
									<!-- <view class="rowss"></view> -->
								</view>

								<!-- 语言消息 -->
								<view v-if="row.msg.type == 'voice'" class="bubble voice" @tap="playVoice(row.msg)" :class="playMsgid == row.msg.id ? 'play' : ''">
									<view class="length">{{ row.msg.content.length }}</view>
									<view class="icon my-voice"></view>
									<view class="text_time">{{row.msg.content.time}}</view>
									<!-- <view class="rowss"></view> -->
								</view>
								<!-- 图片消息 -->
								<view v-if="row.msg.type == 'img'" class="bubble">
									<img :src="row.msg.content.url"/>
									<view class="text_time">{{row.msg.content.time}}</view>
								</view>
							</view>
							<!-- 右-头像 -->
							<!-- <view class="right">
 								<image :src="row.msg.userinfo.face"></image>
 							</view> -->
						</view>
						<!-- 别人发出的消息 -->
						<view class="other" v-if="row.msg.userinfo.uid">
							<!-- 左-头像 -->
							<view class="left  left_image">
								<image :src="page === 'threeprevention' ? '/static/img/logo/kefu2.png' : '/static/img/logo/kefu.png'"></image>
							</view>
							<!-- 右-用户名称-时间-消息 -->
							<view class="right">
								<!-- <view class="username"> -->
								<!-- <view class="name">{{row.msg.userinfo.username }}</view>
 									<view class="time">{{row.msg.time}}</view> -->
								<!-- </view> -->
								<!-- 文字消息 -->
								<view v-if="row.msg.type == 'text'" class="bubble position_bubble" :class="{ background_active: row.msg.flag_descript }">
									<div class="cotent_text">
										<rich-text :nodes="row.msg.content.text"></rich-text>
										<!-- <div class="content_text_position"></div> -->
										<!-- 相关问题 -->
										<view v-if="row.msg.flag_descript && page === 'threeprevention'" class="problem_list2">
											<view
												class="problem_list_item2"
												v-for="item in row.msg.descript.lists"
												@click="send_detail(row, row.msg.descript.flag, item.value.input.text)"
											>
												<view class="problem_list_item_img"><image src="../../static/img/list/dian.png"></image></view>
												<view>{{ item.label }}</view>
											</view>
										</view>
										<!-- <view v-if="row.msg.flag_descript">{{ row.msg.descript.title }}</view> -->
										<view class="text_time">{{row.msg.content.time}}</view>
									</div>
								</view>
								<!-- 语音消息 -->
								<view v-if="row.msg.type == 'voice'" class="bubble voice" @tap="playVoice(row.msg)" :class="playMsgid == row.msg.id ? 'play' : ''">
									<view class="icon other-voice"></view>
									<view class="length">{{ row.msg.content.length }}</view>
								</view>
							</view>
						</view>
					</block>
				</view>
			</scroll-view>
			<!-- 相关问题 -->
			<view v-if="choose" class="problem_list">
				<!-- <view class="problem_list_item  title">
					<view class="item_img">
						<image src="../../static/img/logo/wen.png"></image>
					</view>
					<view>{{ row.msg.descript.title }}</view>
				</view> -->
				<view class="problem_list_item" v-for="item in choose.msg.descript.lists" :style="{width: choose.msg.descript.lists.length < 4 ? (100 / choose.msg.descript.lists.length - 6 + '%') : '44%'}" @click="send_detail(choose, choose.msg.descript.flag, item.value.input.text)">
					<!-- <view class="problem_list_item_img">
						<image src="../../static/img/list/dian.png"></image>
					</view> -->
					<view class="problem_list_item_but">{{ item.label }}</view>
				</view>
				<view style="clear: both;"></view>
			</view>
		</view>
		<!-- 录音UI效果 -->
		<view class="record" :class="recording ? '' : 'hidden'">
			<view class="ing" :class="willStop ? 'hidden' : ''"><view class="icon luyin2"></view></view>
			<view class="cancel" :class="willStop ? '' : 'hidden'"><view class="icon chehui"></view></view>
			<view class="tis" :class="willStop ? 'change' : ''">{{ recordTis }}</view>
		</view>
		<!-- <input type="text" v-model="transform1" :value="transform1" id="result_output"/> -->
		<!-- <view :value="transform1" id="result_output"></view> -->
		<!-- <view>ha{{transform2}}</view> -->
		
		<!-- 底部输入栏 -->
		<view class="input-box" :class="{ tuchu: tuchuflag }" @touchmove.stop.prevent="discard"　id="textarea">
			<!-- H5下不能录音，输入栏布局改动一下 -->
			<view class="voice">
				<image :src="isVoice ? '../../static/img/logo/text.png' : '../../static/img/logo/voice.png'" @tap="switchVoice"></image>
				<!-- <view class="icon" :class="isVoice ? 'jianpan' : 'yuyin'" @tap="switchVoice"></view> -->
			</view>
			<!-- 拍照 -->
			<view class="voice">
				<image src="../../static/img/logo/camera.png" @click="photograph"></image>
			</view>
			<view class="voice-mode" :class="[isVoice ? '' : 'hidden', recording ? 'recording' : '']"
			 @touchstart.capture.prevent="voiceBegin" @touchmove.stop.prevent="voiceIng" @touchend.stop.prevent="voiceEnd"
			 @touchcancel.stop.prevent="voiceCancel">
				{{ voiceTis }}
			</view>
			<view class="text-mode" :class="isVoice ? 'hidden' : ''">
				<!-- #ifdef H5 -->
				<view class="box">
					<input placeholder="你想问什么？" v-model="textMsg" auto-height="true" @blur.stop="viewDefault" />
				</view>
				<!-- #endif -->
			</view>
			<view class="send" :class="isVoice ? 'hidden' : ''" @touchstart="sendText" @click="sendText">
				<view class="img_send"><image :src="textMsg ? '../../static/img/logo/send2.png' : '../../static/img/logo/send.png'" mode=""></image></view>
			</view>
		</view>
	</view>
</template>
<script>
//安装好模块后 ，h5编译可以打印出jweixin对象，分享没起作用
// #ifdef H5
let jweixin = require('jweixin-module');
let sha1 = require('sha1')
// #endif
let Base64 = require('js-base64').Base64
// import MD5 from '@/common/md5.js'
import { dataFormat_no } from '@/common/utis.js'
import { getBDaccessToken, translation, getBDImages, getHouDuanAccess, urlTobase64, get_session, sendMsg } from '@/common/request.js'
// import IatTaste from '../../static/js/index1.js'
// let VConsole = require('vconsole')
// let vconsole=new VConsole;
export default {
	data() {
		return {
			page: '',
			textMsg: '',//文字消息
			isHistoryLoading: false,//消息列表
			scrollAnimation: false,
			scrollTop: 0,
			scrollToView: '',
			msgList: [],
			msgImgList: [],
			//录音相关参数
			// #ifndef H5
			//H5不能录音
			// RECORDER: uni.getRecorderManager(),
			// #endif
			isVoice: false,
			voiceTis: '按住 说话',
			recordTis: '手指上滑 取消发送',
			recording: false,
			willStop: false,
			initPoint: { identifier: 0, Y: 0 },
			recordTimer: null,
			recordLength: 0,
			//播放语音相关参数
			AUDIO: uni.createInnerAudioContext(),
			playMsgid: null,
			// 抽屉参数
			popupLayerClass: '',
			// more参数
			hideMore: true,
			origina_url: 'https://mtalk.foxcall.cn/',
			skill_id: '3edd176d-9566-4115-805c-6517908c4e2e',
			Username: 'apikey',
			Password: '',
			base64_auth_user: '',
			session_id: '',
			textarea_setTimeout: '', //定时器
			tuchuflag: true,
			inputIsNotInView: '', //ios适应的全局变量
			// transform1: '', //科大讯飞语音识别的参数
			alltransform: '',
			newSelfIatTaste: '',
			RecordPermission: false, //网页是否已经请求了录音权限
			//微信端的相关参数
			IsflagWeixin: false, //判断是否是在微信端打开
			//智能翻译识别结果
			translateResult: '',
			//录音文件id
			localId: '',
			//微信app_id
			// appId: 'wx11e1c76829215880',
			// appsecret: '697e9360c538acc9f96b458c7ee26404',
			//微信生成签名的时间戳
			timestamp: 1571672955925,
			//微信access_token
			access_token: '',
			access_data: 0,
			ticket: '', //微信ticket
			ticket_data: 0,
			// jsapi_ticket: '',
			noncestr: 'Wm3WZYTPz0wzccnW',//随机数noncestr
			// signature: '',//签名
			admin_wechat: '', //后台获得的微信相关参数
			lubegin_timeStamp: '', //点击录音时间戳
			// hou_appid:''
			//登录的相关参数
			login_url: 'http://talk.foxcall.cn/apis/saas/account/login',
			choose: false
		};
	},
	onLoad(option) {
		this.page = option.page
	},
	mounted() {
		if (this.page === 'threeprevention') {
			this.skill_id = '983e3190-180f-4f15-8986-5dc190d5642b'
			this.Password = 'KkWXmqxzu07A7jS8m-sMApEawywtwatbjBSUjxSb6Ak3'
			uni.setNavigationBarTitle({
				title: '三防'
			})
		} else {
			this.skill_id = '3edd176d-9566-4115-805c-6517908c4e2e'
			this.Password = '21LtaQ0bU6L-xqutzInr_k0wg44YuNjmJu0qnSBvOXhm'
			getBDaccessToken()
			uni.setNavigationBarTitle({
				title: '垃圾分类'
			})
		}
		this.IsWeixin(),
		(this.recording = false),
		(this.willStop = false),
		// #ifdef H5
		(document.title = '')
		// #endif
		this.getMsgList();
		//语音自然播放结束
		this.AUDIO.onEnded(res => {
			this.playMsgid = null
		});
		// #ifndef H5
		//录音开始事件
		// this.RECORDER.onStart(e => {
		// 	this.recordBegin(e);
		// });
		//录音结束事件
		// this.RECORDER.onStop(e => {
		// 	this.recordEnd(e);
		// });
		// #endif
		// 初始化
		let ziyuan = this.Username + ':' + this.Password
		let base64_auth = Base64.encode(ziyuan)
		this.base64_auth_user = base64_auth
		let url = this.origina_url + this.skill_id + '/sessions?version=' + dataFormat_no()
		let this_ = this
		get_session(url, base64_auth).then(function(id){
			this_.session_id = id
		})
		
	},
	onShow() {
		this.scrollTop = 9999999;
		clearTimeout(this.textarea_setTimeout)
	},
	onHide() {
		clearTimeout(this.textarea_setTimeout)
	},
	computed: {},
	watch: {},
	methods: {
		//判断是否是微信端打开
		IsWeixin() {
			let ua = window.navigator.userAgent.toLowerCase()
			if (/MicroMessenger/i.test(ua)) {
				//判断是否是企业微信
				if (ua.match(/wxwork/i) == 'wxwork') {
					this.IsflagWeixin = false;
					import('../../static/js/index1.js').then(Component => {
						this.newSelfIatTaste = new Component.default()
					})
				} else {
					this.IsflagWeixin = true;
					// this.getaccessToken();
				}
			} else {
				this.IsflagWeixin = false;
				import('../../static/js/index1.js').then(Component => {
					this.newSelfIatTaste = new Component.default()
					console.log(new Component.default())
				})
			}
		},
		getDateTime(){
			let myDate = new Date()
			let time = myDate.getHours() + ':' + myDate.getMinutes() + ':' + myDate.getSeconds()
			return time
		},
		// 访问相册获取照片
		photograph() {
			uni.chooseImage({
				// sourceType: ["camera", "album"],
				sourceType: ["camera"],
				count: 1,  
				success: res => {  
					uni.showLoading({  
						title: "正在解析中...",  
						mask: true  
					})
					let this_ = this
					// 照片转base64
					urlTobase64(res.tempFilePaths[0]).then(function(data){
						let base64 = wx.arrayBufferToBase64(data);
						if (res.tempFiles[0].size > 1024*1024) {
							base64 = 'data:image/jpeg;base64,' + base64
							this_.compress(base64)
						} else {
							this_.getBDImages(base64)
						}
					})
				}
			})
		},
		// 图片压缩
		compress(base64) {
			let image = new Image() //新建一个img标签（还没嵌入DOM节点)
			image.src = base64
			let this_ = this
			image.onload = function() {
				let canvas = document.createElement('canvas');
				let context = canvas.getContext('2d');
				let imageWidth = 0
				let imageHeight = 0
				if (image.width > image.height) {
					imageWidth = 800
					imageHeight = 800 / image.width * image.height
				} else {
					imageHeight = 800
					imageWidth = 800 / image.height * image.width
				}
				canvas.width = imageWidth
				canvas.height = imageHeight
			    context.drawImage(image, 0, 0, imageWidth, imageHeight)
				let data = canvas.toDataURL('image/jpeg')
				this_.getBDImages(data.substring(23, data.length))
			}
		},
		// 获取百度识图
		async getBDImages(base64) {
			let promise = getBDImages(base64)
			await promise
			let this_ = this
			promise.then(function(data){
				translation(data.data.results[0].name).then(function(msg){
					this_.sendMsg(msg, 'text&img')
				})
				let lastid = this_.msgList[this_.msgList.length - 1].msg.id;
				lastid++;
				let msg = {
					type: 'user',
					msg: {
						id: lastid,
						type: 'img',
						userinfo: { uid: 0, username: '大黑哥', face: '/static/img/face.jpg' },
						content: {
							url: 'data:image/jpeg;base64,' + base64,
							time: this_.getDateTime()
						}
					}
				};
				this_.screenMsg(msg);
			})
		},
		//微信获取access_token
		// getaccessToken() {
		// 	if (new Date().getTime() - this.access_data >= 7200) {
		// 		this.access_data = new Date().getTime();
		// 		uni.request({
		// 			// url: `https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=${this.appId}&secret=${this.appsecret}`,
		// 			url: `https://heyuqing138.top/weixinApi/cgi-bin/token?grant_type=client_credential&appid=${this.appId}&secret=${this.appsecret}`,
		// 			method: 'GET',
		// 			success: res => {
		// 				this.access_token = res.data.access_token;
		// 				this.get_jsapi_ticket();
		// 			},
		// 			fail: res => {
		// 			}
		// 		});
		// 	}
		// },
		// get_jsapi_ticket() {
		// 	uni.request({
		// 		url: `https://heyuqing138.top/weixinApi/cgi-bin/ticket/getticket?access_token=${this.access_token}&type=jsapi`,
		// 		method: 'GET',
		// 		success: res => {
		// 			if (res.data.errmsg == 'ok') {
		// 				this.ticket = res.data.ticket;
		// 				//console.log('ticket等于' + this.ticket);
		// 				//console.log('当前地址' + location.href.split('#')[0]);
		// 				this.signature = sha1(
		// 					'jsapi_ticket=' + this.ticket + '&noncestr=' + this.noncestr + '&timestamp=' + this.timestamp + '&url=' + location.href.split('#')[0]
		// 				);
		// 				// #ifdef H5
		// 				jweixin.config({
		// 					debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		// 					appId: this.appId, // 必填，公众号的唯一标识
		// 					timestamp: this.timestamp, // 必填，生成签名的时间戳
		// 					nonceStr: this.noncestr, // 必填，生成签名的随机串
		// 					signature: this.signature, // 必填，签名
		// 					jsApiList: [
		// 						'checkJsApi',
		// 						'chooseImage',
		// 						'startRecord',
		// 						'stopRecord',
		// 						'onVoiceRecordEnd',
		// 						'playVoice',
		// 						'pauseVoice',
		// 						'stopVoice',
		// 						'onVoicePlayEnd',
		// 						'uploadVoice',
		// 						'downloadVoice',
		// 						'translateVoice'
		// 					] // 必填，需要使用的JS接口列表
		// 					// 接口 检测接口，选择图片接口，开始录音接口 停止录音接口  监听录音接口，播放语音接口 暂停播放接口 停止播放接口  监听播放接口 上传语音接口 下载语音接口 识别音频并返回识别结果接口
		// 				});
		// 				jweixin.error(function(res) {
		// 					//console.log('jweixin.config配置出错');
		// 					alert('出错了：' + res.errMsg); // 这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
		// 				});
		// 				jweixin.ready(() => {
		// 					//console.log('进去了dd,检测微信公众号jsdk成功的接口');
		// 					jweixin.checkJsApi({
		// 						jsApiList: [
		// 							'startRecord',
		// 							'stopRecord',
		// 							'translateVoice',
		// 							'onVoiceRecordEnd',
		// 							'playVoice',
		// 							'pauseVoice',
		// 							'stopVoice',
		// 							'onVoicePlayEnd',
		// 							'uploadVoice',
		// 							'downloadVoice'
		// 						], // 需要检测的JS接口列表，所有JS接口列表见附录2,
		// 						success: function(res) {
		// 							// //console.log(res)
		// 							// 以键值对的形式返回，可用的api值true，不可用为false
		// 							// 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
		// 						},
		// 						fail: function(res) {
		// 							//console.log('失败');
		// 							//console.log(res);
		// 						},
		// 						complete: function(res) {
		// 							//console.log('成功失败都返回');
		// 							//console.log(res);
		// 						}
		// 					});
		// 				});
		// 				// #endif
		// 			}
		// 		},
		// 		fail: () => {
		// 		}
		// 	});
		// },
		//微信功能JSSDK
		//微信处理
		admin_wechat_method() {
			let aaa_signature = sha1(
				'jsapi_ticket=' + this.admin_wechat.wechatTicket + '&noncestr=' + this.noncestr + '&timestamp=' + this.timestamp + '&url=' + location.href.split('#')[0]);
			// #ifdef H5
			jweixin.config({
				debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: 'wx42ae293c2466a019', // 必填，公众号的唯一标识
				timestamp: this.timestamp, // 必填，生成签名的时间戳
				nonceStr: this.noncestr, // 必填，生成签名的随机串
				signature: aaa_signature, // 必填，签名
				jsApiList: [
					'checkJsApi',
					'startRecord',
					'stopRecord',
					'onVoiceRecordEnd',
					'playVoice',
					'onVoicePlayEnd',
					'stopVoice',
					'pauseVoice',
					'uploadVoice',
					'downloadVoice',
					'translateVoice'
				] // 必填，需要使用的JS接口列表
				// 接口 检测接口，选择图片接口，开始录音接口 停止录音接口  监听录音接口，播放语音接口 暂停播放接口 停止播放接口  监听播放接口 上传语音接口 下载语音接口 识别音频并返回识别结果接口
				//监听录音播放完毕接口
			});
			jweixin.ready(() => {
				//console.log('进去了dd,检测微信公众号jsdk成功的接口');
				jweixin.checkJsApi({
					jsApiList: [
						'startRecord',
						'stopRecord',
						'translateVoice',
						'onVoiceRecordEnd',
						'playVoice',
						'pauseVoice',
						'stopVoice',
						'onVoicePlayEnd',
						'uploadVoice',
						'downloadVoice'
					], // 需要检测的JS接口列表，所有JS接口列表见附录2,
					success: function(res) {
						// 以键值对的形式返回，可用的api值true，不可用为false
						// 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
					}
				});
				//监听录音播放完毕接口
				jweixin.onVoicePlayEnd({
					success: res => {
						this.playMsgid = null;
						alert('录音（' + res.localId + '）播放结束');
					},
					complete: res => {
						this.playMsgid = null;
						alert('录音（' + res.localId + '）播放结束');
					}
				});
			});
		// #endif
		},
		//input取消聚焦，解决移动端input回弹问题
		viewDefault() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
			clearTimeout(this.textarea_setTimeout);
			this.tuchuflag = true;
			// #ifdef H5
			document.body.scrollTop = document.body.scrollHeight;
			// #endif
		},
		//获取焦点，解决ios底部被第三方输入法遮挡的问题
		textareaFocus() {
			this.textarea_setTimeout = setTimeout(function() {
				//console.log('抬高');
				// #ifdef H5
				document.body.scrollTop = document.body.scrollHeight;
				// #endif
				//获取焦点叫要把全面屏取消
				this.tuchuflag = false;
				// element.scrollIntoViewIfNeeded();
				//下面方法解释中 true 是在可视区域的顶部，但是在我实际使用中发现他是在可视区域的底部
			}, 300);
			// this.tuchuflag = false;
		},
		send_detail(row, flag, res) {
			//判断是否已经回答过该问题，问题不能回答两次
			if (this.page === 'threeprevention') {
				if (flag) {
					this.msgList[row.msg.id].msg.descript.flag = false;
					this.textMsg = res;
					this.sendText();
				} else {
					uni.showToast({
						title: '已经回答过该问题了',
						icon: 'none'
					});
				}
			} else {
				if (flag) {
					this.choose.msg.descript.flag = false;
					this.textMsg = res;
					this.sendText();
					this.choose = false
				} else {
					uni.showToast({
						title: '已经回答过该问题了',
						icon: 'none'
					});
				}
			}
		},
		// 接受消息(筛选处理)
		screenMsg(msg) {
			//从长连接处转发给这个方法，进行筛选处理
			if (msg.type == 'system') {
				// 系统消息
				switch (msg.msg.type) {
					case 'text':
						this.msgList.push(msg)
					break;
				}
			} else if (msg.type == 'user') {
				// 用户消息
				switch (msg.msg.type) {
					case 'text':
						this.msgList.push(msg)
					break;
					case 'voice':
						this.msgList.push(msg)
					break;
					case 'img':
						this.msgImgList.push(msg.msg.content.url);
						this.msgList.push(msg);
					break;
				}
			}
			this.$nextTick(function() {
				// 滚动到底
				this.scrollToView = 'msg' + msg.msg.id;
			});
		},
		// 加载初始页面消息
		getMsgList() {
			// 消息列表
			let list = []
			if (this.page === 'classification') {
				list = [
					{ type:'user',msg:{id:0,type:'text',content:{text:'请告诉我你要扔什么垃圾'},flag_descript:false,userinfo:{uid: 1,username: "售后客服008"}}},
					{ type:'user',msg:{id:1,type:'text',content:{text:'你知道"长寿垃圾"都有哪些吗？你可以问我长寿垃圾怎么扔？'},flag_descript:false,userinfo:{uid: 1,username: "售后客服008"}}},
				]
			} else if (this.page === 'threeprevention') {
				list = [
					{ type:'user',msg:{id:0,type:'text',content:{text:'您好, 我是高新区三防机器人, 有什么可以帮到您呢?'},flag_descript:false,userinfo:{uid: 1,username: "售后客服008"}}},
					{
						type: 'user',
						msg: {
							id: 1,
							type: 'text',
							content: {
								text: '您可以这么问'
							},
							flag_descript: true,
							userinfo: {
								uid: 1,
								username: "售后客服008"
							},
							descript: {
								flag: true,
								lists: [{
									label: "台风来了怎么办",
									value: {
										input: {
											text: "台风来了怎么办"
										}
									}
								}, {
									label: "三级台风, 我应该怎么办?",
									value: {
										input: {
											text: "三级台风, 我应该怎么办?"
										}
									}
								}, {
									label: "唐家海事处遇到台风的时候应该怎么办?",
									value: {
										input: {
											text: "唐家海事处遇到台风的时候应该怎么办?"
										}
									}
								}, {
									label: "遇到四级台风, 唐家海事处的我们应该怎么办?",
									value: {
										input: {
											text: "遇到四级台风, 唐家海事处的我们应该怎么办?"
										}
									}
								}]
							}
						}
					}
				]
			}
			// 获取消息中的图片,并处理显示尺寸
			for (let i = 0; i < list.length; i++) {
				if (list[i].type == 'user' && list[i].msg.type == 'img') {
					list[i].msg.content = this.setPicSize(list[i].msg.content)
					this.msgImgList.push(list[i].msg.content.url)
				}
			}
			this.msgList = list
			// 滚动到底部
			this.$nextTick(function() {
				//进入页面滚动到底部
				this.scrollTop = 9999;
				this.$nextTick(function() {
					this.scrollAnimation = true;
				})
			})
		},
		//更多功能(点击+弹出)
		showMore() {
			this.isVoice = false;
			this.hideEmoji = true;
			if (this.hideMore) {
				this.hideMore = false;
				this.openDrawer();
			} else {
				this.hideDrawer();
			}
		},
		// 打开抽屉
		openDrawer() {
			this.popupLayerClass = 'showLayer';
		},
		// 隐藏抽屉
		hideDrawer() {
			this.popupLayerClass = '';
			setTimeout(() => {
				this.hideMore = true;
				this.hideEmoji = true;
			}, 150);
		},
		// #ifdef H5
		// 发送文字消息
		sendText() {
			this.hideDrawer(); //隐藏抽屉
			if (!this.textMsg) {
				return;
			}
			let content = this.textMsg;
			//去掉空格
			let content_kon = content.replace(/\ +/g, '');
			//去掉回车换行
			let content_huan = content_kon.replace(/[\r\n]/g, '');
			let msg = { text: content_huan };
			this.sendMsg(msg, 'text');
			this.textMsg = ''; //清空输入框
		},
		// #endif
		// 发送消息
		sendMsg(content, type) {
			//实际应用中，此处应该提交长连接，模板仅做本地处理。
			var nowDate = new Date();
			let lastid = this.msgList[this.msgList.length - 1].msg.id;
			lastid++;
			content.time = this.getDateTime()
			let msg = {
				type: 'user',
				msg: {
					id: lastid,
					time: nowDate.getHours() + ':' + nowDate.getMinutes(),
					type: type === 'text&img' ? 'text' : type,
					userinfo: { uid: 0, username: '大黑哥', face: '/static/img/face.jpg' },
					content: content
				}
			};
			// 不是图片
			if (type !== 'text&img') {
				this.screenMsg(msg);
			}
			let message_url = 'https://mtalk.foxcall.cn/' + this.skill_id + '/sessions/' + this.session_id + '/message?version=' + dataFormat_no();
			uni.showLoading({
				icon: 'none',
				title: '加载中...'
			});
			let this_ = this
			sendMsg(message_url, this.base64_auth_user, content.text).then(function(data){
				// 是否有数据
				if (!data.output.generic.length) {
					return
				}
				data.output.generic.forEach((item) => {
					//判断是当个还是多条循环数据，如果存在options的话，是循环
					let lastid = this_.msgList[this_.msgList.length - 1].msg.id
					if(!item.options){
						if(item.response_type !== 'pause' && item.text != ''){
							lastid++
							let msg = {
								type: 'user',
								msg: {
									id: lastid,
									type: 'text',
									userinfo: { uid: 1, username: '售后客服008', face: '/static/img/logo/kefu.png' },
									content: {
										text: item.text,
										time: this_.getDateTime()
									},
									flag_descript: false
								}
							}
							this_.screenMsg(msg)
						}
					}else{
						if (this_.page === 'threeprevention') {
							lastid++
							let msg = {
								type: 'user',
								msg: {
									id: lastid,
									type: 'text',
									content: {
										text: item.title
									},
									flag_descript: true,
									userinfo: {
										uid: 1,
										username: "售后客服008"
									},
									descript: {
										flag: true,
										lists: item.options
									}
								}
							}
							this_.screenMsg(msg)
						} else {
							lastid++
							this.choose = {
								type: 'user',
								msg: {
									id: lastid,
									type: 'text',
									userinfo: { uid: 1, username: '售后客服008' },
									// content: {
									// 	text: res.data.output.generic[i].text
									// },
									flag_descript: true,
									descript: {
										// title: res.data.output.generic[i].title,
										lists: item.options,
										flag: true
									}
								}
							}
							if (item.title) {
								let msg = {
									type: 'user',
									msg: {
										id: lastid,
										type: 'text',
										userinfo: { uid: 1, username: '售后客服008' },
										content: {
											text: item.title,
											time: this_.getDateTime()
										},
										flag_descript: false
									}
								}
								this_.screenMsg(msg)
							}
						}
					}
				})
			})
		},
		// 播放语音
		playVoice(msg) {
			this.playMsgid = msg.id;
			this.AUDIO.src = msg.content.url;
			this.$nextTick(function() {
				this.AUDIO.play();
			});
		},
		// 录音开始
		voiceBegin(e) {
			if (e.touches.length > 1) {
				return;
			}
			this.initPoint.Y = e.touches[0].clientY;
			this.initPoint.identifier = e.touches[0].identifier;
			// 非H5端录音开始
			// #ifndef H5
			// this.RECORDER.start({ format: 'mp3' }); //录音开始,
			// #endif
			//H5端的录音
			// #ifdef H5
			//非微信端
			if (!this.IsflagWeixin) {
				this.recording = true;
				let u = navigator.userAgent;
				let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
				let isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
				if (isiOS) {
					this.newSelfIatTaste.selfStart();
					this.recordBegin(e);
				} else {
					this.newSelfIatTaste.selfStart();
					this.recordBegin(e);
				}
			} else {
				//微信端录音功能
				this.lubegin_timeStamp = e.timeStamp;
				jweixin.startRecord();
				this.recordBegin(e);
				this.recording = true;
			}
			// #endif
		},
		//录音开始UI效果
		recordBegin(e) {
			this.recording = true;
			this.voiceTis = '松开 结束';
			this.recordLength = 0;
			this.recordTimer = setInterval(() => {
				this.recordLength++;
			}, 1000);
		},
		// 录音被打断
		voiceCancel() {
			this.recording = false;
			this.voiceTis = '按住 说话';
			this.recordTis = '手指上滑 取消发送';
			this.willStop = true; //不发送录音
			// 非H5端录音结束
			// #ifndef H5
			// this.RECORDER.stop(); //录音结束
			// #endif
			// H5端识别打断
			// #ifdef H5
			if (!this.IsflagWeixin) {
				jweixin.stopRecord({
					success: function(res) {
						let localId = res.localId;
					}
				});
			}
			// this.newSelfIatTaste.selfStop()
			// this.voiceEnd()
			// #endif
		},
		// 录音中(判断是否触发上滑取消发送)
		voiceIng(e) {
			if (!this.recording) {
				return;
			}
			let touche = e.touches[0];
			//上滑一个导航栏的高度触发上滑取消发送
			if (this.initPoint.Y - touche.clientY >= uni.upx2px(100)) {
				this.willStop = true;
				this.recordTis = '松开手指 取消发送';
			} else {
				this.willStop = false;
				this.recordTis = '手指上滑 取消发送';
			}
		},
		// 结束录音
		voiceEnd(e) {
			if (!this.recording) {
				return;
			}
			this.recording = false;
			this.voiceTis = '按住 说话';
			this.recordTis = '手指上滑 取消发送';
			// #ifdef H5
			// this.RECORDER.stop() //录音结束
			if (!this.IsflagWeixin) {
				if (!this.willStop) {
					uni.showLoading({
						icon: 'none',
						title: '努力识别中...'
					});
					setTimeout(() => {
						// uni.hideLoading()
						console.log(this.newSelfIatTaste)
						this.newSelfIatTaste.selfStop();
						console.log(this.newSelfIatTaste)
						setTimeout(() => {
							if (this.newSelfIatTaste.getData() == '' || !this.newSelfIatTaste) {
								setTimeout(() => {
									uni.hideLoading();
									this.alltransform = this.newSelfIatTaste.getData();
									setTimeout(() => {
										this.recordEnd(e);
									}, 100);
								}, 1500);
							} else {
								uni.hideLoading();
								this.alltransform = this.newSelfIatTaste.getData();
								setTimeout(res => {
									this.recordEnd(e);
								}, 100);
							}
						}, 800);
					}, 1200);
				} else {
					this.willStop = false;
				}
			} else {
			//微信端
				if (!this.willStop){
					//微信端录音结束
					jweixin.stopRecord({
						success: res => {
							let localId = res.localId;
							this.localId = res.localId;
							if (e.timeStamp - this.lubegin_timeStamp <= 1200) {
								uni.showToast({
									icon: 'none',
									title: '录音时间不能少于1秒'
								});
							} else if (this.localId.length > 0) {
								jweixin.translateVoice({
									localId: this.localId, // 需要识别的音频的本地Id，由录音相关接口获得
									isShowProgressTips: 1, // 默认为1，显示进度提示
									success: res => {
										this.translateResult = res.translateResult; // 翻译结果
										this.recordEnd(e);
									},
									fail: res => {
										this.willStop = false;
										this.recording = false;
										uni.showToast({
											icon: 'none',
											title: '识别失败',
											duration: 2000
										});
									}
								});
							} else {
								uni.showToast({
									icon: 'none',
									title: '录音失败'
								});
							}
						}
					});
				}else {
					this.willStop = false;
				}
			}
			// #endif
		},
		//录音结束(回调文件)
		recordEnd(e) {
			// #ifndef H5
			// clearInterval(this.recordTimer);
			// if (!this.willStop) {
			// 	//console.log('e: ' + JSON.stringify(e));
			// 	let msg = {
			// 		length: 0,
			// 		url: e.tempFilePath
			// 	};
			// 	let min = parseInt(this.recordLength / 60);
			// 	let sec = this.recordLength % 60;
			// 	min = min < 10 ? '0' + min : min;
			// 	sec = sec < 10 ? '0' + sec : sec;
			// 	msg.length = min + ':' + sec;
			// 	this.sendMsg(msg, 'text');
			// } else {
			// 	//console.log('取消发送录音');
			// }
			// this.willStop = false;
			// #endif
			//H5端
			// #ifdef H5
			//非微信端
			if (!this.IsflagWeixin) {
				console.log(clearInterval,this.recordTimer)
				clearInterval(this.recordTimer);
				if (!this.willStop) {
					//console.log('H5端结束录音调用文件');
					if (this.alltransform == ''|| !this.alltransform) {
						uni.showToast({
							title: '语音识别失败，请重试',
							icon: 'none',
							duration: 2000
						});
					} else {
						console.log(this.alltransform)
						let content = this.alltransform;
						//去掉空格
						let content_kon = content.replace(/\ +/g, '');
						//console.log('去除空格' + content_kon);
						// 去掉回车换行
						let content_huan = content.replace(/[\r\n]/g, '');
						//console.log('去除换行' + content_huan);
						let msg = { text: content_huan };
						this.sendMsg(msg, 'text');
					}
				} else {
					//console.log('取消发送录音');
				}
				this.willStop = false;
			} else {
				clearInterval(this.recordTimer);
				if (!this.willStop) {
					let content = this.translateResult;
					//去掉空格
					let content_kon = content.replace(/\ +/g, '');
					//console.log('去除空格' + content_kon);
					//去掉回车换行
					let content_huan = content_kon.replace(/[\r\n]/g, '');
					//console.log('去除换行' + content_huan);
					let msg = { text: content_huan };
					this.sendMsg(msg, 'text');
				} else {
					//console.log('取消发送录音');
				}
				this.willStop = false;
			}

			// #endif
		},
		// 切换语音/文字输入
		switchVoice() {
			if(this.IsflagWeixin){
				let this_ = this
				getHouDuanAccess().then(function(res){
					this_.admin_wechat = res.data.data;
					this_.admin_wechat_method()
				})
			}
			this.hideDrawer();
			this.isVoice = this.isVoice ? false : true;
			if (!this.IsflagWeixin) {
				if (this.isVoice && !this.RecordPermission) {
					//最新标准API
					if (navigator.mediaDevices.getUserMedia) {
						const constraints = { audio: true };
						navigator.mediaDevices
						.getUserMedia(constraints)
						.then(
							stream => {
								uni.showToast({
									icon: 'none',
									title: '录音授权成功',
									duration: 1000
								});
								this.RecordPermission = true;
							},
							() => {
								uni.showToast({
									icon: 'none',
									title: '录音授权失败',
									duration: 1000
								});
								this.isVoice = true;
							}
						)
						.catch(
							uni.showToast({
								icon: 'none',
								title: '抛出异常'
							})
						);
					} else if (navigator.webkitGetUserMedia) {
						//webkit内核浏览器
						navigator
							.webkitGetUserMedia(constrains)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = false;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: 'webkit内核浏览器抛出异常'
								})
							);
					} else if (navigator.mozGetUserMedia) {
						//Firefox浏览器
						navagator
							.mozGetUserMedia(constrains)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = false;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: '抛出异常'
								})
							);
					} else if (navigator.getUserMedia) {
						//旧版API
						navigator
							.getUserMedia(constrains)
							.then(
								stream => {
									uni.showToast({
										icon: 'none',
										title: '录音授权成功',
										duration: 1000
									});
									this.RecordPermission = true;
								},
								() => {
									uni.showToast({
										icon: 'none',
										title: '录音授权失败',
										duration: 1000
									});
									this.isVoice = false;
								}
							)
							.catch(
								uni.showToast({
									icon: 'none',
									title: '抛出异常'
								})
							);
					} else {
						uni.showToast({
							icon: 'none',
							title: '你的浏览器不支持录音功能',
							duration: 1000
						});
						this.isVoice = false;
					}
				}
			}
		},
		discard() {
			return;
		}
	}
};
</script>
<style lang="scss">
@import '@/static/HM-chat/css/style1.scss';
* {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input {
	-webkit-touch-callout: text !important;
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}
textarea {
	-webkit-touch-callout: auto !important;
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}
::-webkit-scrollbar {
	display: none;
	// width: 1px;
	// height: 1px;
	background-color: #aaa; /* or add it to the track */
}
 .status_bar {
      height: var(--status-bar-height);
      width: 100%;
	  display: inline-flex;
	  justify-content: center;
	  align-items: center;
	  padding:20px 10px 10px;
	  margin-bottom: 10px;
	  font-size: 16px;
  }
  .header_height{
	  height: 15px;
	  
  }
.my .left .bubble {
	margin-right: 30upx;
	position: relative;
	border-radius: 30upx 30upx 0 30upx !important;
}
.bubble img {
	width: 100%;
}

.rowss {
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 3px #000;
	// border-color: #f00 #0f0 #00f #000;
	border-color: #ffffff #ffffff #859aed #859aed;
	// border-color: #859aed #859aed #e5e5e5 #e5e5e5;
	position: absolute;
	bottom: 0px;
	right: -6px;
}

.cotent_text {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.position_bubble {
	position: relative;
}
.background_active {
	max-width: 70%;
	min-width: 70%;
}
.content_text_position {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 4px #000;
	border-color: #eeeff4 #eeeff4 #ffffff #ffffff;
	// border-color: #FFFFFF #eeeff4 #FFFFFF #FFFFFF;
	left: -8px;
	top: 0;
}

.problem_list {
	width: 100%;
	background: #FFFFFF;
	line-height: 35upx;
	position: relative;
	z-index: 1;
	padding: 20upx 40upx;
}
.problem_list .title {
	font-size: 35upx;
	display: flex;
	align-items: center;
}
.problem_list_item {
	line-height: 30upx;
	padding: 20upx 20upx;
	font-size: 30upx;
	text-align: center;
	background: #FFFFFF;
	border-radius: 20upx;
	box-shadow: 0 0 30upx rgba(0, 0, 0, 0.15);
	margin: 0 3%;
	float: left;
	// justify-content: center;
}
.problem_list_item_but {
	margin: 0 auto;
}
.problem_list_item .item_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44upx;
	height: 44upx;
	margin-right: 8upx;
}
.problem_list_item .item_img_title {
	height: 44upx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.problem_list_item .item_img image {
	width: 40upx;
	height: 40upx;
}
.problem_list_item_img {
	width: 43upx;
	height: 43upx;
	margin-right: 8upx;
}
.problem_list_item_img image {
	width: 43upx;
	height: 43upx;
}
// .tuchu {
// 	padding-bottom: 0;
// 	padding-bottom: constant(safe-area-inset-bottom) !important;
// 	padding-bottom: env(safe-area-inset-bottom) !important;
// }
.problem_bound {
	// padding-bottom: 0;
	// padding-bottom: constant(safe-area-inset-bottom) !important;
	// padding-bottom: env(safe-area-inset-bottom) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.problem_bound_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.problem_bound_item {
	display: flex;
	flex-direction: row;

	background-color: #456ffa;
	color: #fff;
	font-size: 30upx;
	margin: 20upx 30upx;
	padding: 15upx 20upx;
	border-radius: 10upx;
}

//修改placeholder的样式
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
	::-moz-placeholder {
		/* Firefox 19+ */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
	:-ms-input-placeholder {
		/* IE 10+ */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
	:-moz-placeholder {
		/* Firefox 18- */
		font-size: 12upx;
		// color:#E5E5E5;
		color: #cccccc;
	}
}
::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 12upx;
	// color:#E5E5E5;
	color: #cccccc;
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 12upx;
	// color:#E5E5E5;
	color: #cccccc;
}
:-moz-placeholder {
	/* Firefox 18- */
	font-size: 12upx;
	// color:#E5E5E5;
	color: #cccccc;
}
.voice-mode {
	z-index: 1000 !important;
}
// 发送
.send {
	z-index: 999;
	//H5发送按钮左边距
	/* #ifdef H5 */
	// margin-left: 20upx;
	/* #endif */
	// margin-left: 10upx;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_send {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_send image {
	width: 40upx;
	height: 40upx;
}
.photo {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	width: 45px;
	height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.photo_img img {
	opacity: 1;
	height: auto;
}
.photo_img div {
	display: none;
}
page{
	background-color: #FFFFFF;
	height: 100%;
}
.content{
	.msg-list {
		height: 100%;
	}
	width: 100%;
	background-color: #fff;
}
.voice{
	image{
		height: 40upx;
		width: 40upx;
		margin: auto;
	}
}
.problem {
	height: calc(100% - 120upx) !important;
}
.row {
	position: relative;
	.other .right {
		margin-left: 50upx;
	}
	.other .left {
		position: absolute;
		bottom: 14px;
		left: 0;
	}
	.other .text_time {
		left: 0;
	}
	.my .text_time {
		right: 0;
	}
}
.text_time {
	color:#878787;
	position: absolute;
	bottom: -30upx;
	font-size: 14upx;
	white-space:nowrap
}
.ljfl {
	height: 100%;
	background-color: #EFEFF2;
	padding-bottom:0;
	padding-bottom: constant(safe-area-inset-bottom);  /* 兼容底部 */
	padding-bottom: env(safe-area-inset-bottom);
}
.problem_list2 {
	margin-top: 10upx;
}
.problem_list_item2 {
	display: flex;
	background-color: #ffffff;
	color: #666;
	border-bottom: 1upx solid #e2e2e2;
	font-size: 26upx;
	padding: 12upx 0;
}

</style>
