<template>
	<view　class="content">
		<view class="content_header">
			<view class="main">
				<view class="header">
					<swiper class="swiper" :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval" :duration="duration" >
					<!-- 	<swiper-item><view class="swiper-item " >
							<image src="../../static/img/home/logo1.png" mode="aspectFill"></image>
						</view></swiper-item> -->
						<swiper-item><view class="swiper-item ">
							<image src="../../static/img/banner/banner1.jpg" mode="aspectFill"></image>
						</view></swiper-item>
						<swiper-item><view class="swiper-item ">
							<image src="../../static/img/banner/banner2.jpg" mode="aspectFill"></image>
						</view></swiper-item>
						<swiper-item><view class="swiper-item ">
							<image src="../../static/img/banner/banner3.jpg" mode="aspectFill"></image>
						</view></swiper-item>
						<swiper-item><view class="swiper-item ">
							<image src="../../static/img/banner/banner4.jpg" mode="aspectFill"></image>
						</view></swiper-item>
					</swiper>
				</view>
				<view class="middle">
					已经有
					<view class="number">
						<view class="number_item" v-for="(item,index) in number_lists" :key=index >{{item}}</view>
					</view>
					人获得专业解答
				</view>
				<view class="bottom">
					<view class="title">-- 热门咨询问题 -- </view>
					<view class="bottom_lists" width="100%">
							<view class="bottom_lists_item"  v-for="(item,index) in lists" :key="index" @click="answer(item)">				
									<image :src="item.img" mode="aspectFit" ></image>
									<view class="title">{{item.title}}</view>				
							</view> 
					</view>
					<view class="about">
						<view class="about_us">
							<view class="left">
								<image src="../../static/img/home/about_us_32_f4ea2a.png" mode="aspectFit"></image>
							</view>
							<view class="right">
								<view class="right_top">关于我们</view>
								<view class="right_bottom">了解团队</view>
							</view>
						</view>
						<view class="about_rabbit">
							<view class="left">
								<image src="../../static/img/home/jqr.png" mode="aspectFit"></image>
							</view>
							<view class="right">
								<view class="right_top">了解机器人</view>
								<view class="right_bottom">机器人的成长记录</view>
							</view>
						</view>
					</view>
					<view class="about_logo">
						<view class="logo">
							<image src="../../static/img/home/jqr_128.png"></image>
						</view>
						<view class="about_right">
							<view class="about_right_top">智能AI机器人</view>
							<view class="about_right_bottom">只需3秒，快速获取专业咨询</view>
						</view>
					</view>

					<!-- <view class="stand">
						技术支持：成潮科技有限公司
					</view> -->
				</view>
			</view>
		</view>
		
		<view class="foot">
				技术支持：成潮科技有限公司	
		</view>
	</view>
</template>

<style >
	html {	
		min-height: 100%;
		/* height: 100%; */
	} 
	page{
		min-height: 100%;
		/* height: 100%; */
	}
	body{
		/* min-height: 100%; */
		height: 100%;
	}
	.content{
		display: flex;
		flex-direction: column;	
		background-color: #f6f6f6;
		min-height: 100%;
		height: 100%;
		
	}
	.content_header
	{
		height: 100%;
		min-height: 100%;
	}
	.main{
		 padding-bottom: 20px;
	}
	.foot{
		 position: fixed;
		 bottom: 0;
		 width: 100%;
		 margin-top: -20px;
         height: 20px;
       background-color: #eee;
         z-index: 9999;
		 display: inline-flex;
		 justify-content: center;
		 align-items: center;
		 color: #C8C7CC;
		 font-size: 22upx;
	}
	.swiper-item{
		background-color: #007AFF;
		width: 100%;
		height: 100%;
	}
	.swiper-item image{
		width: 100%;
		height: 100%;
	}
	.middle{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 23upx;
		line-height: 2;
		background-color: #FFFFFF;
		padding: 5upx 0;
	}
	.middle .number{
		display: flex;
		flex-direction: row;
		margin: 0 10upx;
	}
	.middle .number .number_item{
		/* padding: 5upx; */
		height: 35upx;
		width: 35upx;
		display: flex;
		align-items: center;
		justify-content: center;
		border:1upx solid #E5E5E5;
		margin: 0 6upx;
		color: #007AFF;
	}
	.bottom{
		display: flex;
		flex-direction: column;
		
	}
	.bottom .title{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 30upx;
		line-height: 2.0;
	}
	.bottom .bottom_lists{
		background-color: #FFFFFF;
		font-size: 24upx;
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap:wrap;
	}
	.bottom_lists_item{
		display: flex;
		flex-direction: column;
		width: 33.33%;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
		border-right: 1upx solid #E5E5E5;
		border-bottom: 1upx solid #E5E5E5;;
		
	}
	/* #ifdef H5 */
	 .bottom_lists_item:hover{
	 	background-color: #E5E5E5;
	 }
	/* #endif */
	
	.bottom_lists_item image{
		margin: 35upx 0 15upx;
		width: 75upx;
		height: 56upx;
	}
	.bottom_lists_item .title{
		padding-bottom: 15upx;
		font-size: 20upx;
		color: #666867;
	}
	.about{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: #FFFFFF;
		margin: 10px 0;
		
	}
	.about .about_us{
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1upx solid #E5E5E5;
		padding: 30upx 0;
		
	}
	.about_us .left image{
		width: 64upx;
		height: 48upx;
		margin-right: 15upx;
	}
	.about_us .right{
		display: flex;
		flex-direction: column;
	}
	.about_us .right .right_top{
		font-size: 28upx;
		margin-bottom: 10upx;
	}
	.about_us .right .right_bottom{
		font-size: 24upx;
		color: #CCCCCC;
	}
	.about .about_rabbit{
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1upx solid #E5E5E5;
		padding: 30upx 0;
	}
	.about_rabbit .right{
		display: flex;
		flex-direction: column;
	}
	.about_rabbit .left image{
		width: 64upx;
		height: 48upx;
		margin-right: 15upx;
	}
	.about_rabbit .right .right_top{
		font-size: 28upx;
		margin-bottom: 10upx;
	}
	.about_rabbit .right .right_bottom{
		font-size: 24upx;
		color: #CCCCCC;
	}
	
	//关于logo介绍部分
	.about_logo{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20upx 0;
		background-color: #FFFFFF;
		margin-bottom: 10upx;
		
	}
	.about_logo .logo{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		
	}
	.about_logo .logo image{
		width: 70upx;
		height: 70upx;
		margin-right: 15upx;
	}	
	.about_right_top{
		font-size: 30upx;
		margin-bottom: 10upx;
	}
	.about_right_bottom{
		font-size: 24upx;
		color: #C8C7CC;
	}
	//技术支持
	.stand{
		display: flex;
		justify-content: center;
		align-items: center;
		color: #C8C7CC;
		font-size: 22upx;
		padding: 10upx 0 15upx;
	}
</style>
<script>
export default {
	data() {
		return {
			background: ['color1', 'color2', 'color3'],
			indicatorDots: true,
			autoplay: true,
			interval: 5000,
			duration: 500,
			per_number:0,
			IsflagWeixin:false,   //判断是否是在微信端打开
			
			number_lists:[],
			lists:[
			
			]
		};
	},
	watch:{
		per_number(e)
		{
			if(e!=0)
			{
				this.number_lists = String(this.per_number).split('');
				console.log(this.number_lists)
			}
		}
	},
	onShow() {
		// #ifdef H5
		document.title=""
		// #endif
		// console.log("刷新")
		this.lists=[
				{
					"title":'垃圾分类',
					"img": require('../../static/img/home/ljfl_128_1296db.png'),
					// "Jump":"rubbish",
					"Jump":"Rubbish/classification?page=classification",
					"skill_id":"3edd176d-9566-4115-805c-6517908c4e2e",
					"Username":"apikey",
					"Password":"21LtaQ0bU6L-xqutzInr_k0wg44YuNjmJu0qnSBvOXhm"
				},
				{
					"title":'三防',
					"img": require('../../static/img/home/sf_128_1296db.png'),
					// "Jump":"defense",
					"Jump":"Rubbish/classification?page=threeprevention",
					"skill_id":"983e3190-180f-4f15-8986-5dc190d5642b",
					"Username":"apikey",
					"Password":"KkWXmqxzu07A7jS8m-sMApEawywtwatbjBSUjxSb6Ak3"
				},
				{
					"title":'全部',
					"img": require('../../static/img/home/fl_128_1296db.png'),
					"Jump":"all",
					"skill_id":"f1d63e4c-8e81-441b-a990-fd08074499c9",
					"Username":"apikey",
					"Password":"KkWXmqxzu07A7jS8m-sMApEawywtwatbjBSUjxSb6Ak3"
				},
			]
		
	},
	created() {
		this.per_number=28898;
	},
	methods: {
		changeIndicatorDots(e) {
			this.indicatorDots = !this.indicatorDots;
		},
		changeAutoplay(e) {
			// this.autoplay = !this.autoplay;
		},
		intervalChange(e) {
			this.interval = e.target.value;
		},
		durationChange(e) {
			this.duration = e.target.value;
		},
		answer(event)
		{
			console.log(event)
			if(event.Jump !="all")
			{
				// uni.navigateTo({
				// 	url: '/pages/HM-chat/HM-chat?title='+event.title+"&skill_id="+event.skill_id+"&Username="+event.Username+"&Password="+event.Password
				// })
				uni.navigateTo({
					url:'/pages/'+event.Jump
				})
			}
		}
	}
};
</script>


